<div *ngIf="prospect">
  <div style="border: 1px solid black;">
    <div><p><b>1. {{prospect.companyName}}</b> | {{prospect.activity.name}} | {{prospect.streetAddress}}, {{prospect.city.zipcode}}, {{prospect.city.name}}, {{prospect.country.name}}<button (click)="onClickButtonGoogle()">Rechercher le prospect sur Google</button></p></div>
    <div><form [formGroup]="changeNumberForm">{{prospect.phone.number}} <input type="tel" id="number" placeholder="0684653454" formControlName="number"/><button style="color: green;" (click)="onChangePhoneNumber()">Modifier le tel</button></form></div>
    <div><form [formGroup]="changeEmailForm">{{prospect.email.email}} <input type="email" id="email" placeholder="bgonzva@juniorisepc.com" formControlName="email"/><button style="color: green;" (click)="onChangeEmail()">Modifier l'email</button></form></div>
    <div><form [formGroup]="changeWebsiteForm">{{prospect.website.website}} <input type="text" id="website" placeholder="www.juniorisep.com" formControlName="website"/><button style="color: green;" (click)="onChangeWebsite()">Modifier le site internet</button></form></div>
    <div>Commentaire : {{prospect.comment}} <form [formGroup]="changeCommentForm"><textarea formControlName="comment" placeholder="Modifier le commentaire (autosave)" (change)="onChangeComment()"></textarea></form> </div>
    <button style="background-color: orange; border: 1px black solid;">Pas de réponse</button><button style="background-color: olive; border: 1px black solid;">Rappel</button><button style="background-color: blueviolet; border: 1px black solid;">Rendez-vous</button>
  </div>

</div>
    

<div *ngIf="reminder">
  <div *ngIf="((remindersDone && reminder.done) || (!remindersDone && !reminder.done))">
    <div *ngIf="(date && (reminder.date.toString().split('T')[0] == date.toString())) || !date">
      <div *ngIf="futureReminders && previousReminders || (previousReminders && !futureReminders && (reminder.date.toString() < today.toISOString())) || (futureReminders && !previousReminders && (reminder.date.toString() > today.toISOString()))">
        <div style="border: 1px solid black;" *ngIf="reminder.priority == priority || (priority != 1 && priority != 2 && priority != 3)">
          <div><p><b>{{reminder.prospect.id}} {{reminder.prospect.companyName}}</b> | {{reminder.prospect.activity.name}} | {{reminder.prospect.streetAddress}}, {{reminder.prospect.city.zipcode}}, {{reminder.prospect.city.name}}, {{reminder.prospect.country.name}}<button (click)="onClickButtonGoogle()">Rechercher le prospect sur Google</button></p></div>
          <div><form [formGroup]="changeNumberForm">{{reminder.prospect.phone.number}} <input type="tel" id="number" placeholder="0684653454" formControlName="number"/><button style="color: green;" (click)="onChangePhoneNumber()">Modifier le tel</button></form></div>
          <div><form [formGroup]="changeEmailForm">{{reminder.prospect.email.email}} <input type="email" id="email" placeholder="bgonzva@juniorisepc.com" formControlName="email"/><button style="color: green;" (click)="onChangeEmail()">Modifier l'email</button></form></div>
          <div><form [formGroup]="changeWebsiteForm">{{reminder.prospect.website.website}} <input type="text" id="website" placeholder="www.juniorisep.com" formControlName="website"/><button style="color: green;" (click)="onChangeWebsite()">Modifier le site internet</button></form></div>
          <div>Commentaire : {{reminder.prospect.comment}} <form [formGroup]="changeCommentForm"><textarea formControlName="comment" placeholder="Modifier le commentaire (autosave)" (change)="onChangeComment()"></textarea></form> </div>
          <br />
          <div style="border: 1px green solid;">
            Rappel de priorité <b>{{reminder.priority}}</b> pour la date du {{reminder.date | date:"dd/MM/yyyy"}} à {{reminder.date | date:"HH:mm"}}<br />
            Description => {{reminder.description}}
            <form>
              <input style="color: green;" type="button" value='{{reminder.done ? "Rendre le rappel disponible" : "Le rappel a été effecuté"}}' (click)="reminder.done ? onMarkReminderUndone(reminder.id) : onMarkReminderDone(reminder.id)"/>
              <input style="color: red;" type="button" value="Supprimer le rappel" (click)="onDeleteReminder(reminder.id)"/>
            </form>
          </div>
          <br />
          <button style="background-color: orange; border: 1px black solid;">Pas de réponse</button><button style="background-color: olive; border: 1px black solid;">Rappel</button><button style="background-color: blueviolet; border: 1px black solid;">Rendez-vous</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="meeting">
  <div *ngIf="((meetingsDone && meeting.done) || (!meetingsDone && !meeting.done))">
    <div *ngIf="(date && (meeting.date.toString().split('T')[0] == date.toString())) || !date ">
      <div *ngIf="futureMeetings && previousMeetings || (previousMeetings && !futureMeetings && (meeting.date.toString() < today.toISOString())) || (futureMeetings && !previousMeetings && (meeting.date.toString() > today.toISOString()))">
        <div *ngIf="(typeMeeting == 'tous les types') || (typeMeeting == meeting.type.toLowerCase()) ">
          <div style="border: 1px solid black;">
            <div><p><b>{{meeting.prospect.id}} {{meeting.prospect.companyName}}</b> | {{meeting.prospect.activity.name}} | {{meeting.prospect.streetAddress}}, {{meeting.prospect.city.zipcode}}, {{meeting.prospect.city.name}}, {{meeting.prospect.country.name}}<button (click)="onClickButtonGoogle()">Rechercher le prospect sur Google</button></p></div>
            <div><form [formGroup]="changeNumberForm">{{meeting.prospect.phone.number}} <input type="tel" id="number" placeholder="0684653454" formControlName="number"/><button style="color: green;" (click)="onChangePhoneNumber()">Modifier le tel</button></form></div>
            <div><form [formGroup]="changeEmailForm">{{meeting.prospect.email.email}} <input type="email" id="email" placeholder="bgonzva@juniorisepc.com" formControlName="email"/><button style="color: green;" (click)="onChangeEmail()">Modifier l'email</button></form></div>
            <div><form [formGroup]="changeWebsiteForm">{{meeting.prospect.website.website}} <input type="text" id="website" placeholder="www.juniorisep.com" formControlName="website"/><button style="color: green;" (click)="onChangeWebsite()">Modifier le site internet</button></form></div>
            <div>Commentaire : {{meeting.prospect.comment}} <form [formGroup]="changeCommentForm"><textarea formControlName="comment" placeholder="Modifier le commentaire (autosave)" (change)="onChangeComment()"></textarea></form> </div>
            <br />
            <div style="border: 1px green solid;">
              {{meeting.id}}. Rendez-vous de type <b>{{meeting.type}}</b> pour la date du {{meeting.date | date:"dd/MM/yyyy"}} à {{meeting.date | date:"HH:mm"}}<br />
              avec le pm: {{meeting.pm.pseudo}}
              <form>
                <input style="color: green;" type="button" value='{{meeting.done ? "Rendre le meeting comme non effectué" : "Rendre le meeting comme effectué"}}' (click)="meeting.done ? onMarkMeetingUndone(meeting.id) : onMarkMeetingDone(meeting.id)"/>
                <input style="color: red;" type="button" value="Supprimer le meeting" (click)="onDeleteMeeting(meeting.id)"/>
              </form>
            </div>
            <br />
            <button style="background-color: orange; border: 1px black solid;">Pas de réponse</button><button style="background-color: olive; border: 1px black solid;">Rappel</button><button style="background-color: blueviolet; border: 1px black solid;">Rendez-vous</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>