<div style="border: 1px solid black;">
  <div><p><b>1. {{prospect.companyName}}</b> | {{prospect.activity.name}} | {{prospect.streetAddress}}, {{prospect.city.zipcode}}, {{prospect.city.name}}, {{prospect.country.name}}</p></div>
  <div><form [formGroup]="changeNumberForm">{{prospect.phone.number}} <input type="tel" id="number" placeholder="0684653454" formControlName="number"/><button style="color: green;" (click)="onChangePhoneNumber()">Modifier le tel</button></form></div>
  <div><form [formGroup]="changeEmailForm">{{prospect.email.email}} <input type="email" id="email" placeholder="bgonzva@juniorisepc.com" formControlName="email"/><button style="color: green;" (click)="onChangeEmail()">Modifier l'email</button></form></div>
  <div><form [formGroup]="changeWebsiteForm">{{prospect.website.website}} <input type="text" id="website" placeholder="www.juniorisep.com" formControlName="website"/><button style="color: green;" (click)="onChangeWebsite()">Modifier le site internet</button></form></div>
  <div>
    {{prospect.comment}}
  </div>
  <button style="background-color: orange; border: 1px black solid;">Pas de réponse</button><button style="background-color: olive; border: 1px black solid;">Rappel</button><button style="background-color: blueviolet; border: 1px black solid;">Rendez-vous</button>
</div>
    