<!-- prospect -->
<!-- begin filtering conditions-->
<div *ngIf="prospect" class="card card-bordered shadow-md border-solid border-current overflow-visible">
<!-- end filtering conditions -->

  <!-- Card -->
  <div class="card-body bg-opacity-10">
    <!-- Header card -->
   
      <div class="grid grid-cols-2">
        <div>
          <div class="card-title">
            {{prospect.id}}. {{prospect.companyName}} - {{prospect.activity.name}}
            <div (click)="onClickButtonGoogle()" class="btn btn-sm btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
          </div>
          {{prospect.streetAddress}}, {{prospect.city.zipcode}}, {{prospect.city.name}}, {{prospect.country.name}}
        </div>
        
        <!-- Commentaire -->
        <div>
          <form [formGroup]="changeCommentForm">
            <textarea class="textarea textarea-bordered h-1/2 w-full" formControlName="comment"
              placeholder="Modifier le commentaire (autosave)" (change)="onChangeComment()">
            </textarea>
          </form>
        </div>
      </div>
    
    <div class="divider"></div>

    <!-- Phone / Email / Website inputs -->
    <div class="inline-flex space-x-10 self-baseline">  
      
        <app-each-prospect-change-parameter [valueToDisplay]="prospect.phone.number" [el]="'phone'" [id]="prospect.phone.id"></app-each-prospect-change-parameter>
        <app-each-prospect-change-parameter [valueToDisplay]="prospect.email.email" [el]="'email'" [id]="prospect.email.id"></app-each-prospect-change-parameter>
        <app-each-prospect-change-parameter [valueToDisplay]="prospect.website.website" [el]="'website'" [id]="prospect.website.id"></app-each-prospect-change-parameter>
      
      
      <!-- Buttons -->
      <div class="btn-group">
        <!-- Bouton Pas de réponse -->
        <button (click)="onChangeNbNo()" class="btn btn-ghost btn-outline indicator">
          <span *ngIf="prospect.nbNo > 0" class="indicator-item badge">{{prospect.nbNo}}</span>
          Pas de réponse<span *ngIf="prospect.nbNo> 0">s</span>
        </button>

        <!-- Bouton de rappel + dropdown -->
        <div class="dropdown dropdown-top indicator">
          <span *ngIf="currentProspectReminders.length > 0" class="indicator-item badge ">{{currentProspectReminders.length}}</span>
          <label tabindex="0" class="btn btn-ghost btn-outline">Rappel</label>
        <div tabindex="0" class="dropdown-content card card-compact">
          <app-add-reminder-dropdown class="card-body outline" [prospect]="prospect"></app-add-reminder-dropdown>
        </div>

        </div>
         <!-- Bouton de rendez-vous + dropdown -->
        <div class="dropdown dropdown-top indicator">
          <span *ngIf="currentProspectMeetings.length > 0" class="indicator-item badge ">{{currentProspectMeetings.length}}</span>
          <label tabindex="0" class="btn btn-ghost btn-outline">Rendez-vous</label>
          
          <div tabindex="0" class="dropdown-content card">
            <app-add-meetings-dropdown class="card-body outline" [prospect]="prospect"></app-add-meetings-dropdown>
          </div>
        </div>
       
        <!-- Bouton Refus -->
        <button class="btn btn-ghost btn-outline">
          Refus
        </button>

        <!-- Bouton Mail -->
        <button class="btn btn-ghost btn-outline">
          Mail
        </button>
      </div>
    </div>
  </div>
</div>

<!-- reminder -->
<!-- filtering conditions -->
<div *ngIf="reminder">
  <div *ngIf="((remindersDone && reminder.done) || (!remindersDone && !reminder.done))">
    <div *ngIf="((date && (reminder.date.toString().split('T')[0] == date.toString())) || !date) || (remindersDateDown && remindersDateUp)">
      <div *ngIf="(!remindersDateDown || !remindersDateUp) || (remindersDateDown.toString() < reminder.date.toString().split('T')[0] && reminder.date.toString().split('T')[0] < remindersDateUp.toString())">
        <div *ngIf="futureReminders && previousReminders || (previousReminders && !futureReminders && (reminder.date.toString() < today.toISOString())) || (futureReminders && !previousReminders && (reminder.date.toString() > today.toISOString()))">
          <div *ngIf="reminder.priority == priority || (priority != 1 && priority != 2 && priority != 3)">
<!-- End filtering conditions -->

             <!-- Card -->
             <div  class="card card-bordered shadow-md border-solid border-current">
              <div class="card-body bg-opacity-10">
                <div class="card-title">
                 
                  <!-- Priority stars -->
                  <div class="rating rating-md gap-1">
                    <input name="priority" type="radio" class="mask mask-star {{reminder.priority == 1 ? 'bg-success' : reminder.priority == 2 ? 'bg-warning' : 'bg-error'}}" checked>
                  </div>
                  <div *ngIf="reminder.priority > 1" class="rating rating-md gap-1">
                    <input name="priority" type="radio" class="mask mask-star  {{reminder.priority == 2 ? 'bg-warning' : 'bg-error'}}" checked>
                  </div>
                  <div *ngIf="reminder.priority == 3" class="rating rating-md gap-1">
                    <input name="priority" type="radio" class="mask mask-star bg-error" checked>
                  </div>
                  
                  <!-- Date , heure, nom du client, nom du CDP -->
                  {{reminder.date | date:"dd/MM/YYYY"}} à {{reminder.date | date:"HH:mm"}} {{reminder.prospect.companyName}} - {{reminder.pm.firstname}} {{reminder.pm.name}}

                  <!-- Boutons meetingDone / suppression -->
                <input class="btn btn-primary btn-sm btn-success w-1/5" type="button" value='{{reminder.done ? "Rendre le rappel comme non effectué" : "Rendre le rappel comme effectué"}}' (click)="reminder.done ? onMarkReminderDone(reminder.id) : onMarkReminderUndone(reminder.id)" />
                <input class="btn btn-primary btn-sm btn-error w-1/5" type="button" value="Supprimer le rappel" (click)="onDeleteReminder(reminder.id)" />
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- meetings -->

<!-- Filtering conditions -->
<div *ngIf="meeting">
  <div *ngIf="((meetingsDone && meeting.done) || (!meetingsDone && !meeting.done))">
    <div
      *ngIf="((date && (meeting.date.toString().split('T')[0] == date.toString())) || !date) || (meetingsDateDown && meetingsDateUp)">
      <div
        *ngIf="(!meetingsDateDown || !meetingsDateUp) || (meetingsDateDown.toString() < meeting.date.toString().split('T')[0] && meeting.date.toString().split('T')[0] < meetingsDateUp.toString())">
        <div
          *ngIf="futureMeetings && previousMeetings || (previousMeetings && !futureMeetings && (meeting.date.toString() < today.toISOString())) || (futureMeetings && !previousMeetings && (meeting.date.toString() > today.toISOString()))">
          <div *ngIf="(typeMeeting == 'tous les types') || (typeMeeting == meeting.type.toLowerCase()) ">
  <!-- End filtering conditions -->

            <!-- Card -->
            <div  class="card card-bordered shadow-md border-solid border-current">
              <div class="card-body bg-opacity-10">
                <div class="card-title">
                  <div class="badge badge-secondary">{{meeting.type}}</div>

                  <!-- Date , heure, nom du client, nom du CDP -->
                  {{meeting.date | date:"dd/MM/YYYY"}} à {{meeting.date | date:"HH:mm"}} {{meeting.prospect.companyName}} - {{meeting.pm.firstname}} {{meeting.pm.name}}

                  <!-- Boutons meetingDone / suppression -->
                <input class="btn btn-primary btn-sm btn-success w-1/4" type="button" value='{{meeting.done ? "Rendre le meeting comme non effectué" : "Rendre le meeting comme effectué"}}' (click)="meeting.done ? onMarkMeetingUndone(meeting.id) : onMarkMeetingDone(meeting.id)" />
                <input class="btn btn-primary btn-sm btn-error w-1/4" type="button" value="Supprimer le meeting" (click)="onDeleteMeeting(meeting.id)" />
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>