<app-header></app-header>
<h1 class="ml-6 text-xl mb-5">Recherche de prospects</h1>
<app-research-bloc [prospects]="prospects" [currentCity]="currentCity" [currentPage]="currentPage" (updateProspectEvent)="updateProspects($event)"
  (updateCurrentCityEvent)="updateCurrentCity($event)" (updateCurrentActivityEvent)="updateCurrentActivity($event)">
</app-research-bloc>
<app-list-prospects [prospects]="prospects" [currentCity]="currentCity" [currentActivity]="currentActivity"
  [noProspect]="noProspect"></app-list-prospects>
<div class="btn-group">
  <button class="btn btn-outline btn-ghost {{currentPage > 0 ? '' : 'btn-disabled'}}"  (click)="currentPage > 0 && pageDown()">«</button>
  <button class="btn btn-outline btn-ghost">Page {{currentPage / 2 }}</button>
  <button class="btn btn-outline btn-ghost" (click)="pageUp()">»</button>
</div>
