<div class="card card-bordered shadow-md border-solid border-current overflow-visible mb-3">
  <!-- Card -->
  <div class="card-body bg-opacity-10">
    <!-- Header card -->
    <div class="card-title w-full">

      <div class="space-x-4 inline-flex {{prospect.stage == 0 || prospect.stage == 1 ? 'w-full': 'w-2/3'}}">
        <!-- Title -->
        <div class="w-2/3">{{prospect.companyName}} - {{prospect.activity.name}}</div>
       <div class="{{prospect.stage == 0 || prospect.stage == 1 ? 'w-full' : 'w-1/3'}} space-x-3">
         <!-- Button search google -->
         <div (click)="onClickButtonGoogle()" class="btn btn-sm btn-ghost btn-outline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>

        <!-- Button MODAL Edit prospect -->
        <label for="modal-prospect-edit-{{prospect.id}}" class="btn btn-ghost btn-outline btn-sm modal-button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
        </label>

        <input type="checkbox" id="modal-prospect-edit-{{prospect.id}}" class="modal-toggle" />
        <label for="modal-prospect-edit-{{prospect.id}}" class="modal cursor-pointer">
          <label class="modal-box relative max-w-screen-lg" for="">
            <app-prospect-edit [prospect]="prospect"></app-prospect-edit>
          </label>
        </label>

       
        <!-- button add bookmark -->
        <label for="add-bookmark-modal-{{prospect.id}}" class="btn btn-ghost btn-outline btn-sm modal-button bg-error" *ngIf="prospect.stage == 0">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="warning" stroke="currentColor">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </label>

        <input type="checkbox" id="add-bookmark-modal-{{prospect.id}}" class="modal-toggle" />
        <label for="add-bookmark-modal-{{prospect.id}}" class="modal cursor-pointer">
          <label class="modal-box relative max-w-screen-xs" for="add-bookmark-modal-{{prospect.id}}">
            <app-add-bookmark-modal [prospect]="prospect" [bookmark]="bookmark"></app-add-bookmark-modal>
          </label>
        </label>

        <!-- Button delete Bookmark -->
        <div *ngIf="prospect.stage == 1" class="btn btn-ghost btn-outline btn-sm bg-warning" (click)="onDeleteBookmark() ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="warning" stroke="currentColor">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </div>

        <!-- Button history -->
        <label for="drawer-prospect-history" class="drawer-button btn btn-ghost btn-outline btn-sm"
          (click)="onClickDrawer()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </label>
      </div>

      <!-- Bouton prospect Pas pertinent (suppriemr) -->
      <label class="btn btn-ghost btn-outline hover:bg-error btn-sm modal-button" for="disable-prospect-modal-{{prospect.id}}" *ngIf="prospect.stage == 0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>        
      </label>

      <input type="checkbox" id="disable-prospect-modal-{{prospect.id}}" class="modal-toggle" />
        <label for="disable-prospect-modal-{{prospect.id}}" class="modal cursor-pointer">
          <label class="modal-box relative max-w-screen-md text-sm" for="">
            <app-disable-prospect-modal [prospect]="prospect"></app-disable-prospect-modal>
          </label>
        </label>



       </div>
      <div class="h-full {{prospect.stage == 0 ? '': 'w-1/2'}}">

        <!-- Page mails -->
        <div *ngIf="sentEmail">
          Mail envoyé le {{sentEmail.sendingDate | frenchDatePipe}}
        </div>

        <!-- Page rappels -->
        <div *ngIf="reminder">
          <div class="rating">
            <input type="radio" name="rating-priority"
              class="mask mask-star-2 {{reminder.priority == 3 ? 'bg-accent' : reminder.priority == 2 ? 'bg-primary' : 'bg-secondary'}} "
              disabled>
            <input type="radio" name="rating-priority"
              class="mask mask-star-2 {{reminder.priority == 3 ? 'bg-accent' : reminder.priority == 2 ? 'bg-primary' : 'bg-secondary'}}"
              disabled *ngIf="reminder.priority != 1">
            <input type="radio" name="rating-priority"
              class="mask mask-star-2 {{reminder.priority == 3 ? 'bg-accent' : reminder.priority == 2 ? 'bg-primary' : 'bg-secondary'}}"
              disabled *ngIf="reminder.priority == 3">
          </div>
          Rappel défini au {{reminder.date | frenchDatePipe}} à {{reminder.date |date:"hh:mm"}}
        </div>

        <!-- Page rendez-vous -->
        <div *ngIf="meeting" class="space-x-5">
          <span class="badge badge-secondary">{{meeting.type}}</span>
          Rendez-vous le {{meeting.date | frenchDatePipe}} à {{meeting.date | date:"HH:mm"}}

        </div>
      </div>
        
    </div>

    <!-- Address -->
    {{prospect.streetAddress}}, {{prospect.city.zipcode}}, {{prospect.city.name}}, {{prospect.country.name}}




    <div class="inline-flex space-x-5 ">

      <div class="btn-group">
        <!-- Phone -->
        <label class="btn btn-sm btn-outline" *ngIf="phone" (click)="onClickPhone()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-2/3" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
          </svg> {{phone}}</label>

        <!-- Mail -->
        <label class="btn btn-sm btn-outline" *ngIf="email" (click)="onClickEmail()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-2/3" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="3" y="5" width="18" height="14" rx="2" />
            <polyline points="3 7 12 13 21 7" />
          </svg> {{email}}</label>

        <!-- Website -->
        <label class="btn btn-sm btn-outline" *ngIf="website" (click)="onClickWebsite()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-2/3" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
          </svg> {{website}}</label>
      </div>
    </div>


    <!-- <div class="divider p"></div> -->



    <!-- Buttons actions -->
    <div class="inline-flex space-x-3">

      <!-- Bouton Pas de réponse -->
      <button *ngIf="prospect.stage == 0 || prospect.stage == 1" (click)="onChangeNbNo()"
        class="btn btn-ghost btn-primary btn-sm btn-outline indicator">
        <span *ngIf="prospect.nbNo > 0" class="indicator-item badge">{{prospect.nbNo}}</span>Pas de réponse<span
          *ngIf="prospect.nbNo> 0">s</span>
      </button>

      <!-- Bouton de rappel  -->

      <label tabindex="0" *ngIf="prospect.stage == 0 || prospect.stage == 1 " class="btn btn-primary btn-sm btn-ghost btn-outline modal-button" for="modal-add-reminder-{{prospect.id}}">Rappel</label>

      <input type="checkbox" id="modal-add-reminder-{{prospect.id}}" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <app-add-reminder-modal [prospect]="prospect"></app-add-reminder-modal>
        </div>
      </div>

      <!-- Bouton de rendez-vous -->
        <label *ngIf="prospect.stage == 0 || prospect.stage == 1 || prospect.stage == 2 || prospect.stage == 4" tabindex="0" class="btn btn-primary btn-sm btn-outline btn-ghost modal-button {{prospect.stage == 4 ? 'btn-disabled' : ''}}" for="modal-add-meeting-{{prospect.id}}">Rendez-vous</label>
        <input type="checkbox" id="modal-add-meeting-{{prospect.id}}" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box">
            <app-add-meetings-modal [prospect]="prospect"></app-add-meetings-modal>
          </div>
        </div>

      <!-- Bouton Refus -->
      <label class="btn btn-ghost btn-primary btn-outline btn-sm" (click)="onClickRefus()" *ngIf="prospect.stage != 4 && prospect.stage != 3">
        Refus
      </label>

      <!-- button mail -->
      <label for="add-mail-modal-{{prospect.id}}" class="btn btn-sm btn-primary btn-ghost btn-outline" *ngIf="prospect.stage != 4">
        Mail
      </label>

      <!-- Bouton rappel effectué -->
      <label class="btn btn-sm btn-success btn-outline" (click)="onMarkReminderDone()" *ngIf="prospect.stage == 2 && !reminder.done">Rappel effectué
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </label>

      <!-- Bouton rendez-vous effectué -->
      <label class="btn btn-sm btn-outline btn-success" *ngIf="prospect.stage == 3 && !meeting.done" (click)="onMarkMeetingDone()">Rendez-vous effectué
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </label>


      <input type="checkbox" id="add-mail-modal-{{prospect.id}}" class="modal-toggle" />
      <label for="add-mail-modal-{{prospect.id}}" class="modal cursor-pointer">
        <label class="modal-box relative max-w-screen-xs" for="add-mail-modal-{{prospect.id}}">
          <app-add-mail-modal [prospect]="prospect"></app-add-mail-modal>
        </label>
      </label>

      <!-- Commentaire -->
      <div class="w-1/2">
        <input class="input input-sm input-bordered w-full" [(ngModel)]="comment"
          placeholder="Modifier le commentaire (autosave)" (change)="onChangeComment()">
      </div>
    </div>
  </div>
</div>