<label for="modal-add-meeting" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
<div class="form-control space-y-5">
  <label class="text-2xl font-bold">Ajouter un rendez-vous</label>
  <div class="divider"></div>
  <!-- Date du RDV -->
  <input class="datepicker" type="datetime-local" id="date" class="btn btn-outline btn-ghost " [(ngModel)]="date">

  <!-- Type de RDV -->
  <div class="text-center">
    <select class="select select-bordered w-full" id="typeMeeting" name="typeMeeting" [(ngModel)]="type">
      <option *ngFor="let typeMeeting of meetingTypeKeys">{{typeMeeting}}</option>
    </select>

  </div>
  <label class="btn btn-outline btn-ghost" for="modal-add-meeting" (click)="onCreateMeeting()">Créer le rendez-vous</label>
</div>