<div class="p-2 pt-5 card">
  <div class="w-full card-title"><label class="w-full text-center">Confirmer la suppression du mail template {{data.mailTemplate?.name}} ?</label>
  </div>
  <div class="card-body ">
    <div class="inline-flex space-x-5">
      <label class="w-1/2 btn btn-outline btn-ghost" (click)="ngxSmartModalService.closeAll()">Annuler</label>
      <label class="w-1/2 btn btn-outline btn-ghost btn-error" (click)="onDeleteMailTemplate()">Supprimer</label>
    </div>
  </div>
</div>