<div class="space-y-5">
  <div class="card bg-base-100 pb-0">
    <div class="card-title">
      <div class="w-full p-5">
        <div class="w-1/2 inline-flex justify-center">
          Vue d'ensemble
        </div>
        <div class="w-1/2 inline-flex justify-center pb-0">
          Répartition des appels
        </div>
      </div>
    </div>
    <div class="card-body inline-block w-full">
      <div class="w-1/2 inline-flex">
        <canvas id="allDataForEveryoneRadarChart"></canvas>
      </div>
      <div class="w-1/2 inline-flex">
        <canvas id="pieChartAllCalls"></canvas>
      </div>
    </div>
  </div>
  <div class="card bg-base-100">
    <div class="card-body">
      <div class="card-title justify-center">
        Prospects contactés
      </div>
      <canvas id="allCallsEveryoneLineChart"></canvas>
    </div>
  </div>
  <div class="card bg-base-100">
    <div class="card-title justify-center">
      Rendez-vous décrochés
    </div>
    <div class="card-body">
      <canvas id="allMeetingsEveryoneLineChart"></canvas>
    </div>
  </div>
</div>