<div class="card max-w-screen-sm">
    <div class="card-title">Ajouter {{prospect.companyName}} en favoris ({{bookmarksService.bookmarks.size}} / 30)?
    </div>
    <div class="card-body ">
        <div class="inline-flex space-x-5">
            <label class="btn btn-outline btn-ghost w-1/2" for="add-bookmark-modal-{{prospect.id}}">Annuler</label>
            <label class="btn btn-outline btn-ghost w-1/2 btn-warning" for="add-bookmark-modal-{{prospect.id}}"
                (click)="onCreateBookmark()">Ajouter en favoris</label>
        </div>
    </div>
</div>