<div class="">
  <label for="modal-add-prospect" class="absolute btn btn-sm btn-circle right-2 top-2">✕</label>
  <div class="text-lg card-title">Ajouter un prospect dans la base</div>
  <div class="divider"></div>

  <div class="inline-flex space-x-5">

    <!-- Nom du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nom du prospect</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="companyName" placeholder="Ex: ISEP" />
    </div>

    <!-- Adresse du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Adresse</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="address"
        placeholder="Ex: 22 rue notre Dame des Champs" />
    </div>


  </div>
  <div class="inline-flex space-x-5">
    <!-- Domaine d'activité du prospect -->
    <div class="form-control">
      <label class="label" for="activity">
        <span class="label-text">Domaine d'activité</span>
      </label>
      <div class="inline-flex">

        <!-- select activity -->
        <!-- <select id="activity" name="activity" [(ngModel)]="secondaryActivity" class="select select-bordered">
          <option selected [defaultSelected]="true" [ngValue]="undefined">Sélectionner un domaine d'activité</option>
          <option *ngFor="let activity of activitiesService.secondaryActivities" [ngValue]="activity">{{activity.name}}</option>
        </select> -->

      </div>
    </div>


    <!-- Ville du prospect -->
    <div class="form-control">
      <label class="label" for="city">
        <span class="label-text">Ville</span>
      </label>
      <div class="inline-flex">

        <!-- select city -->
        <select id="city" name="city" [(ngModel)]="city" class="select select-bordered">
          <option selected [defaultSelected]="true" [ngValue]="undefined">Sélectionner une ville</option>
          <option *ngFor="let city of citiesService.cities" [ngValue]="city">{{city.name}} : {{city.zipcode}}</option>
        </select>


      </div>
    </div>


    <!-- Pays du prospect -->
    <div class="form-control">
      <label class="label" for="country">
        <span class="label-text">Pays</span>
      </label>
      <div class="inline-flex">

        <!-- select country -->
        <select id="country" name="country" [(ngModel)]="country" class="select select-bordered" [disabled]="true">
          <option *ngFor="let country of countriesService.countries">{{country.name}}</option>
        </select>

      </div>
    </div>
  </div>


  <div class="inline-flex space-x-5">
    <!-- Téléphone du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Téléphone</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="phone" placeholder="Ex: 09 87 65 43 32" />
    </div>

    <!-- Email du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="email" placeholder="Ex: accueil@juniorisep.com" />
    </div>

    <!-- Site internet du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Site internet</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="website" placeholder="Ex: www.juniorisep.com" />
    </div>
  </div>

  <!-- Commentaire sur le prospect -->
  <div class="form-control">
    <label class="label">
      <span class="label-text">Commentaire</span>
    </label>
    <textarea class="textarea outline-1 outline h-1/3" placeholder="Commentaire sur le prospect"
      [(ngModel)]="comment"></textarea>
  </div>


  <div class="divider"></div>

  <!-- Bouton ajouter une ville -->
  <label class="float-left btn btn-ghost btn-outline float modal-button" for="add-city-modal">Ajouter une ville</label>

  <!-- Bouton créer le prospect -->
    <label
    class="btn btn-ghost btn-outline float float-right justify-center modal-button {{companyName == '' || phone == '' || phone.length > 14 || address == '' || city == undefined || secondaryActivity == undefined || (stage == 1 && bookmarksService.nbBookmarks >= bookmarksService.maxNbBookmarks)? 'btn-disabled' : ''}} "
     (click)="onCreateProspect() " for="{{stage == 2 ? 'create-prospect-reminder' : stage == 3 ? 'create-prospect-meeting' : 'modal-add-prospect'}}">{{stage == 0 ? 'Créer le prospect' : stage == 1 ? 'Ajouter aux favoris' : stage == 2 ? 'Définir le rappel' : stage == 3 ? 'Définir le rendez-vous' : stage == 4 ? 'Ajouter aux mails' : stage == 5 ? 'Marquer comme refus' : 'Créer le prospect'}}</label>

  <!-- select stage -->
  <select class="float-right mr-5 select select-bordered" [(ngModel)]="stage">
    <option [ngValue]="0">Recherche</option>
    <option [ngValue]="1">Favori</option>
    <option [ngValue]="2">Rappel</option>
    <option [ngValue]="3">Rendez-vous</option>
    <option [ngValue]="4">Mail</option>
    <option [ngValue]="5">Refus</option>
  </select>

  <label class="float-right mr-5 float btn btn-outline btn-warning font-extralight btn-disabled bg-base-100" *ngIf="stage == 1">{{bookmarksService.nbBookmarks + ' / ' +  bookmarksService.maxNbBookmarks + ' Favoris'}}</label>
</div>

<!-- modal button add city -->
<input type="checkbox" id="add-city-modal" class="modal-toggle">
<label for="add-city-modal" class="cursor-pointer modal">
  <label class="relative max-w-screen-md text-sm modal-box" for="">
    <app-add-city></app-add-city>
  </label>
</label>

<!-- modal button create reminder Prospect -->
<input type="checkbox" id="create-prospect-reminder" class="modal-toggle">
<label *ngIf="stage == 2" for="create-prospect-reminder" class="cursor-pointer modal">
  <label class="relative max-w-screen-md text-sm modal-box" for="">
    <app-add-reminder-modal [createProspectDto]="createProspectDto"></app-add-reminder-modal>
  </label>
</label>

<!-- modal button create Meeting prospect -->
<input type="checkbox" id="create-prospect-meeting" class="modal-toggle">
<label *ngIf="stage == 3" for="create-prospect-meeting" class="cursor-pointer modal">
  <label class="relative max-w-screen-md text-sm modal-box" for="">
    <app-add-meetings-modal [createProspectDto]="createProspectDto"></app-add-meetings-modal>
  </label>
</label>
