<div class="inline-flex p-5 space-x-5">
    <!-- Search a prospect - overrides the other filters -->
    <div class="w-1/5">
        <label class="label" for="search">
            <span class="label-text">Recherche</span>
        </label>
        <input type="search" [(ngModel)]="formKeyword" (keyup.enter)="onEditKeyword()" placeholder="Recherche (entrée pour valider)"
            class="w-full max-w-xs input input-bordered" />
    </div>

    <!-- Select activity domain -->
    
        <!-- ? Primary -->
        <div class="w-1/5">
            <label class="label" for="activity">
                <span class="w-full label-text">Domaine d'activité Primaire</span>
            </label>
            <!-- <select id="activity" name="activity" [(ngModel)] class="select select-bordered"> -->
            <select id="activity" name="activity" [(ngModel)]="mainActivity" class="w-full select select-bordered">
                <option [ngValue]="null">Domaines primaires</option>
                <!-- <option *ngFor="let activity of activitiesService.activities" [value]="activity.name">{{activity.name}}  ({{activitiesService.countActvities.get(activity.id)}})</option> -->
                <option [ngValue]="'Restaurantion / Alimentation'" class="max-w-fit">Restaurantion / Alimentation</option>
                <option [ngValue]="'Services aux particuliers'">Services aux particuliers</option>
                <option>Services aux entreprises</option>
                <option>Immobilier</option>
                <option>Art / décoration</option>
                <option>Services divers</option>
            </select>
        </div>
        
        <!-- ? Secondary  -->
        <div *ngIf="mainActivity != null" class="w-1/5">
            <label class="label" for="activity">
                <span class="label-text">Domaine d'activité</span>
            </label>
            <select id="activity" name="activity" 
                class="w-full select select-bordered">
                <!-- <option [defaultSelected]="'Tous les domaines d\'activite'" [value]="'allActivities'">Tous les domaines d'ùezklhfjkezlrjfmlkerzjfklerzjflkjzermfkjezrmkfjmerzkjfmekrzjlactivité</option> -->
                <!-- <option *ngFor="let activity of activitiesService.activities" [value]="activity.name">{{activity.name}}  ({{activitiesService.countActvities.get(activity.id)}})</option> -->
                <option>Mes domaines secondaires</option>
            </select>
        </div>

    <!-- Select city -->
    <div class="w-1/10">
        <label class="label" for="city">
            <span class="label-text">Ville</span>
        </label>
        <select id="city" name="city" [(ngModel)]="formZipcode" (change)="onEditCity()" class="w-full select select-bordered">
            <option [defaultSelected]="'Toutes les villes'" [value]="-1000">Toutes les villes</option>
            <option *ngFor="let city of citiesService.cities" [ngValue]="city.zipcode">{{city.name}} : {{city.zipcode}} ({{citiesService.countCities.get(city.id)}})</option>
        </select>
    </div>

    <!-- Ajouter un prospect -->
    <div class="pt-9 w-1/10">
        <label class="btn btn-ghost btn-outline modal-button form-control" for="modal-add-prospect">Ajouter un prospect</label>
    </div>    
</div>
<input type="checkbox" id="modal-add-prospect" class="modal-toggle"/>
<label for="modal-add-prospect" class="cursor-pointer modal">
    <label class="relative max-w-screen-xl space-y-4 overflow-y-scroll modal-box" for="">
        <app-add-prospect></app-add-prospect>
    </label>
</label>
