<div *ngFor="let meeting of meetingsService.meetings | keyvalue | slice:meetingsService.researchParamsMeeting.skip:meetingsService.researchParamsMeeting.skip + 20">
  <!-- <app-each-meeting *ngIf="meeting.value.prospect.stage == 3" [meeting]="meeting.value"></app-each-meeting> -->
  <app-prospect-tile *ngIf="meeting.value.prospect.stage == 3" [prospect]="meeting.value.prospect" [meeting]="meeting.value"></app-prospect-tile>
</div>
<app-no-result *ngIf="meetingsService.meetings && meetingsService.meetings.size <= 0"></app-no-result>