<div class="flex flex-row justify-around items-end m-0 mb-5">
    <!-- Search a prospect - overrides the other filters -->
    <div class="form-control w-full max-w-xs">
        <label class="label" for="search">
            <span class="label-text">Recherche</span>
        </label>
        <input type="text" [formControl]="formKeyword" (input)="onEditKeyword()" placeholder="Recherche"
            class="input input-bordered w-full max-w-xs" />
    </div>

    <!-- Select chef de projet -->
    <!-- Select city -->
    <div class="form-control w-full max-w-xs">
        <label class="label" for="pm">
            <span class="label-text">Chef de Projet</span>
        </label>
        <select id="pm" name="pm" [formControl]="formPm" (change)="onEditPm()" class="select select-bordered">
            <option [defaultSelected]="''" [value]="''">Toutes les chefs de projets</option>
            <option *ngFor="let pm of projectManagers">{{pm.pseudo}}</option>
        </select>
    </div>

    <!-- Select activity domain -->
    <div class="form-control w-full max-w-xs">
        <label class="label" for="activity">
            <span class="label-text">Domaine d'activité</span>
        </label>
        <select id="activity" name="activity"[formControl]="formActivity" (change)="onEditActivity()"
            class="select select-bordered">
            <option [defaultSelected]="'Tous les domaines d\'activite'" [value]="'allActivities'">Tous les domaines d'activité</option>
            <option *ngFor="let activity of activitiesService.activities">{{activity.name}}</option>
        </select>
    </div>

    <!-- Select city -->
    <div class="form-control w-full max-w-xs">
        <label class="label" for="city">
            <span class="label-text">Ville</span>
        </label>
        <select id="city" name="city" [formControl]="formCity" (change)="onEditCity()" class="select select-bordered">
            <option [defaultSelected]="'Toutes les villes'" [value]="'allCities'">Toutes les villes</option>
            <option *ngFor="let city of citiesService.cities">{{city.name}}</option>
        </select>
    </div>
</div>