<div class="form-control">
  <label class="input-group input-group-vertical input-group-sm justify-center ">

    <!-- dispalying value -->
    <span *ngIf="!isClicked" class="justify-center btn btn-ghost btn-outline btn-sm" (click)="onClickValueToDisplay()">
      <svg *ngIf="el == 'phone'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
      </svg>

      <svg *ngIf="el == 'email'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
      </svg>
      
      <svg *ngIf="el == 'website'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
      </svg>
      {{valueToDisplay}}
    </span>

    <!-- Buttons -->
    <input *ngIf="isClicked" [(ngModel)]="element" class="input input-bordered input-sm text-center w-full" placeholder="Ex: {{valueToDisplay}}" >
    <div class="{{isClicked ? 'inline-flex' : ''}}">
      <span class="btn btn-sm btn-outline btn-ghost {{isClicked ? 'w-1/2' : ''}}" (click)="isClicked ? onChangeElement() && isClicked = false : isClicked = true">
        <svg *ngIf="!isClicked" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
  
        <svg *ngIf="isClicked" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>
  
      </span>
      <span class="btn btn-secondary btn-sm btn-outline btn-ghost w-1/2" *ngIf="isClicked" (click)="isClicked = false">
        <svg *ngIf="isClicked" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </span>
    </div>
    
    
  </label>
</div>