<div *ngFor="let prospect of prospectsService.prospects | keyvalue | slice:prospectsService.researchParamsProspect.skip:prospectsService.researchParamsProspect.skip + 20" >
  <!-- <app-each-research-prospect [prospect]="prospect.value" *ngIf="prospect.value.stage == 0"></app-each-research-prospect> -->
  <app-prospect-tile [prospect]="prospect.value" *ngIf="prospect.value.stage == 0"></app-prospect-tile>
</div>
<app-no-result *ngIf="prospectsService.prospects && prospectsService.prospects.size <= 0"></app-no-result>