<!-- <b>id | pseudo | kpi | deadline | steps | edit | supprimer</b> -->
<app-each-goal *ngFor="let goal of goals" [goal]="goal" [goalToEdit]="goalToEdit"
  (updateGoalToEditEvent)="updateGoalToEdit($event)"></app-each-goal>

<div class="overflow-x-auto">
  <table class="table table-compact w-full">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Titre</th>
        <th>KPI</th>
        <th>Deadline</th>
        <th>Etapes</th>
        <th>Est redondant</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let goal of goals">
        <th>{{goal.id}}</th>
        <td>{{goal.pm}}</td>
        <td>{{goal.title}}</td>
        <td>{{goal.deadline | date:"dd:mm:yyyy"}}</td>
        <td>{{goal.currentStep}}/{{goal.totalSteps}} </td>
        <td>{{goal.isCyclic}}</td>
        <td>Modifier WIP</td>
        <td>Supprimer WIP</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>