<form [formGroup]="formSearchMeetings">
  <input type="text" placeholder="Rechercher un rappel par nom, tel, mail, website, commentaire, objet du rappel..." formControlName="searchBar" (input)="onMeetingsEditSearchBar()"/><br />
  <label for="date">Date : </label><input type="date" id="date" formControlName="date" (change)="onMeetingsDateChange()"/><br />
  <label for="futureMeetings">Futurs rendez-vous (par rapport à ajd) : </label><input type="checkbox" id="futureMeetings" formControlName="futureMeetings" (change)="onChangeFutureMeetings()"/><br />
  <label for="previousMeetings">Anciens rendez-vous (par rapport à ajd) : </label><input type="checkbox" id="previousMeetings" formControlName="previousMeetings" (change)="onChangePreviousMeetings()"/><br />
  <label for="meetingsDone">Rendez-vous effectués : </label><input type="checkbox" id="meetingsDone" formControlName="meetingsDone" (change)="onChangeMeetingsDone()"/><br />
  <label for="typeMeeting">Type de rendez-vous</label><select id="typeMeeting" name="typeMeeting" formControlName="typeMeeting" (change)="onChangeMeetingType()">
    <option selected>Tous les types</option>
    <option *ngFor="let typeMeeting of meetingTypeKeys">{{typeMeeting}}</option>
  </select><br />
</form>
