<form [formGroup]="formSearchMeetings" class="flex flex-row justify-around items-start m-0">

  <!-- "Rechercher un rappel par nom, tel, mail, website, commentaire, objet du rappel..." -->
  <div class="form-control w-full max-w-xs">
    <label class="label" for="date">Recherche</label>
    <input class="input input-bordered w-full max-w-xs" type="text" placeholder="Recherche" formControlName="searchBar"
      (input)="onMeetingsEditSearchBar()" />
  </div>

  <div class="form-control min-w-fit">
    <label class="label" for="futureMeetings">Futurs RDV</label>
    <input class="toggle" type="checkbox" id="futureMeetings" formControlName="futureMeetings"
      (change)="onChangeFutureMeetings()" />
  </div>

  <div class="form-control min-w-fit">
    <label class="label" for="previousMeetings">Anciens RDV</label>
    <input type="checkbox" class="toggle" id="previousMeetings" formControlName="previousMeetings"
      (change)="onChangePreviousMeetings()" />
  </div>

  <div class="form-control min-w-fit">
    <label class="label" for="meetingsDone">Rendez-vous effectués : </label>
    <input class="toggle" type="checkbox" id="meetingsDone" formControlName="meetingsDone"
      (change)="onChangeMeetingsDone()" />
  </div>

  <div class="form-control min-w-fit">
    <label class="label" for="typeMeeting">Type de rendez-vous</label>
    <select class="select select-bordered" id="typeMeeting" name="typeMeeting" formControlName="typeMeeting"
      (change)="onChangeMeetingType()">
      <option selected>Tous les types</option>
      <option *ngFor="let typeMeeting of meetingTypeKeys">{{typeMeeting}}</option>
    </select>
  </div>

  <label for="date-option" class="btn modal-button">By date</label>

  <input type="checkbox" id="date-option" class="modal-toggle" />
  <div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <div class="form-control min-w-fit">
        <label class="label" for="dateDown">Date inférieure</label>
        <input type="date" id="dateDown" formControlName="dateDown" (change)="onMeetingsDateDownChange()" />
      </div>

      <div class="form-control min-w-fit">
        <label class="label" for="dateUp">Date supérieure</label>
        <input type="date" id="dateUp" formControlName="dateUp" (change)="onMeetingsDateUpChange()" />
      </div>
      <div class="modal-action">
        <label for="date-option" class="btn">Ok</label>
      </div>
    </div>
  </div>

</form>