<div class="p-5 space-y-5">
  <div class="justify-center float ">
    <label class="label" for="week">
      <span class="label-text">Semaine</span>
    </label>
    <div class="inline-flex">
      <!-- select week -->
      <select id="week" name="week" class="select select-bordered" [(ngModel)]="interv" (change)="interv ? statisticsService.countAllCallsByWeeksForWatchtower(interv) && statisticsService.countAllMeetingsByWeeksForWatchtower(interv) : thisWeek();">
        <option selected [defaultSelected]="true" [ngValue]="undefined">Cette semaine</option>
        <option *ngFor="let week of weeks" [ngValue]="{dateDown: week.dateDown, dateUp: week.dateUp}" >{{week.dateDown | date}} - {{week.dateUp | date}}</option>
      </select>

    </div>
  </div>

  <div class="overflow-y-hidden">
    <table class="table w-full ">

      <!-- ! Header  -->
      <thead>
        <tr>
          <th>Chef de Projet</th>
          <th>Photo</th>
          <!-- ? Name of the goal (goaltempalte name) -->
          <th *ngFor="let goalTemplate of goalTemplatesService.goalTemplates | keyvalue">
            <ng-container *ngIf="goalTemplate.value.name == 'Appels' || goalTemplate.value.name == 'Rendez-vous'">
              <div class="flex space-x-5">
                <span class="{{goalTemplate.value.disabled ? 'line-through' : ''}}">{{goalTemplate.value.name}}</span>
              </div>
            </ng-container>
          </th>
        </tr>
      </thead>

      <!-- ! Rows -->
      <tbody>
        <tr *ngFor="let pmGoal of pmService.pmGoals | keyvalue">

          <!-- Name of CDP -->
          <th>{{pmGoal.key.firstname}} {{pmGoal.key.name.toUpperCase()}}</th>
          <td class="w-10 align-baseline bg-base-100"><img
              [src]="pmGoal.key.profilePictureLink != '' ? pmGoal.key.profilePictureLink  : 'https://ssl.gstatic.com/s2/profiles/images/silhouette200.png'"
              class="w-full h-full border border-solid rounded-full border-primary"></td>
          <!-- Each goal value -->
          <td *ngFor="let goal of pmGoal.value">
            <ng-container *ngIf="goal.goalTemplate.name == 'Appels' || goal.goalTemplate.name == 'Rendez-vous'">
              <div class="justify-center block w-full space-x-5 align-middle">
                <span class="align-middle" *ngIf="!goal.disabled && !goal.goalTemplate.disabled">
                  {{goal.goalTemplate.name == 'Rendez-vous' ?
                  statisticsService.currentMeetingsWeekForWatchtower.get(pmGoal.key.id) :
                  statisticsService.currentCallsWeekForWatchtower.get(pmGoal.key.id)}}</span>
                <progress
                  *ngIf="(goal.goalTemplate.name == 'Rendez-vous' || goal.goalTemplate.name == 'Appels') && !goal.disabled && !goal.goalTemplate.disabled"
                  class="justify-center progress-primary progress w-56 bg-base-300 {{goal.goalTemplate.name == 'Rendez-vous' && statisticsService.currentMeetingsWeekForWatchtower.get(pmGoal.key.id)! || goal.goalTemplate.name == 'Appels' && statisticsService.currentCallsWeekForWatchtower.get(pmGoal.key.id)! >= goal.value ? 'progress-success' : 'progress-primary'}}"
                  value="{{goal.goalTemplate.name == 'Rendez-vous' ? statisticsService.currentMeetingsWeekForWatchtower.get(pmGoal.key.id)! : statisticsService.currentCallsWeekForWatchtower.get(pmGoal.key.id)! }}"
                  max="{{goal.value}}">
                </progress>
                <span class="align-middle" *ngIf="!goal.disabled && !goal.goalTemplate.disabled">
                  {{goal.value}}
                </span>
              </div>
              <svg *ngIf="goal.disabled || goal.goalTemplate.disabled" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
              </svg>
            </ng-container>


          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>