<div class="space-y-5 card-bordered border-4 p-2 rounded-lg bg-base-100 drop-shadow-lg ">
  <h3 class="card-title">Ajouter un rendez-vous</h3>
  <!-- Date -->
  <input class="datepicker" type="datetime-local" id="date" class="btn btn-outline btn-ghost " [(ngModel)]="date">

  <!-- Type de rendez-vous -->
  <select class="select select-bordered" id="typeMeeting" name="typeMeeting" [(ngModel)]="type">
    <option *ngFor="let typeMeeting of meetingTypeKeys">{{typeMeeting}}</option>
  </select>
  <button class="btn btn-outline btn-ghost" (click)="onCreateMeeting()">Créer le rendez-vous</button>
</div>