<div class="space-y-5 card-bordered border-4 p-2 rounded-lg bg-base-100 drop-shadow-lg ">
  <h3 class="card-title">Ajouter un rendez-vous</h3>
  <input class="datepicker" type="datetime-local" id="date" class="btn btn-outline btn-ghost " [formControl]="formDate">
    <select class="select select-bordered" id="typeMeeting" name="typeMeeting" [formControl]="formType">
      <option *ngFor="let typeMeeting of meetingTypeKeys">{{typeMeeting}}</option>
    </select>
  <div>
    <textarea class="textarea textarea-bordered textarea-ghost" placeholder="Description du rendez-vous" [formControl]="formDescription"></textarea>
  </div>
  <button class="btn btn-outline btn-ghost" (click)="onCreateMeeting()">Créer le rendez-vous</button>
</div>