<div class="card items-center">
  <div class="card-title">Supprimer {{prospect && prospect.companyName || bookmark && bookmark.prospect.companyName}} ?</div>
  <div class="divider"></div>
  <div class="form-control">
    <div class="input-group">
      <label class="text-md label" for="select-disable-options">Pour quelle raison ?</label>
      <select id="select-disable-options" [(ngModel)]="reason">
        <option *ngFor="let reason of reasonDisabledType" [ngValue]="reason">{{ reason == 0 ? 'Grand groupe' : reason == 1 ? 'Numéro non / mal attribué' : reason == 2 ? 'Entreprise fermée' : 'Holdings'}}</option>
      </select>
    </div>
  </div>
  <div class="card-body ">
      <div class="inline-flex space-x-5">
          <label class="btn btn-outline btn-ghost w-1/2" for="disable-prospect-modal-{{prospect && prospect.id || bookmark && bookmark.prospect.id}}">Annuler</label>
          <label class="btn btn-outline btn-ghost w-1/2 btn-error" for="disable-prospect-modal-{{prospect && prospect.id || bookmark && bookmark.prospect.id}}" (click)="onDisableProspect()">Supprimer le prospect</label>
      </div>
  </div>
</div>