<div class="flex flex-row justify-around items-start m-0 mb-5">

  <div class="form-control min-w-fit">
    <label for="remindersDone" class="label cursor-pointer">
      <span class="label-text">Rappels effectués</span>
    </label>
    <input class="toggle" type="checkbox" id="remindersDone" [(ngModel)]="done"
      (change)="onEditDone()" checked />
  </div>

  <div class="form-control min-w-fit">
    <label for="priority" class="label cursor-pointer">
      <span class="label-text">Priorité</span>
    </label>
    <input type="range" min="0" max="3" value="3" class="range {{priority == 1 && 'range-secondary'}} {{priority == 2 && 'range-primary'}} {{priority == 3 && 'range-accent'}}" id="priority" [(ngModel)]="priority"
      (change)="onEditPriority()" />
      <div class="w-full flex justify-between text-xs px-2">
        <span>*</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
      </div>
  </div>
</div>