<div class="tabs tabs-boxed bg-base-300 justify-center p-5">
  <a class="tab hover:text-primary {{statsRoute == 'my-stats' ? 'tab-active' : ''}}" (click)="statsRoute = 'my-stats'">Statistiques personnelles</a> 
  <a class="tab hover:text-primary {{statsRoute == 'ranking' ? 'tab-active' : ''}}" (click)="statsRoute = 'ranking'">Classements</a> 
  <a class="tab hover:text-primary {{statsRoute == 'activity' ? 'tab-active' : ''}}" (click)="statsRoute = 'activity'">Activité</a>
</div>

<app-ranking *ngIf="statsRoute == 'ranking'"></app-ranking>
<app-my-stats *ngIf="statsRoute == 'my-stats'"></app-my-stats>
<app-activity *ngIf="statsRoute == 'activity'"></app-activity>