<div class="divider"></div>
<div *ngFor="let log of changelogsService.changelogs">
  <div class="inline-flex"><span class="text-xs justify-center">{{log.version}} : {{log.date | date:"dd/MM/YYYY"}}</span></div><br />
  <span class="text-lg font-medium" *ngIf="log.bugs.length > 0">Bugs Fixed:</span>
  <ol *ngIf="log.bugs.length > 0">
      <li class="text-md" *ngFor="let bug of log.bugs">- {{bug}}</li>
  </ol>
  <span class="text-lg font-medium" *ngIf="log.features.length > 0">Nouvelles fonctionnaliés :</span>
  <ul *ngIf="log.features.length > 0">
      <li class="text-md" *ngFor="let feature of log.features">- {{feature}}</li>
  </ul>
  <div class="divider"></div>
</div>
