<div class="divider"></div>
<div *ngFor="let log of changelogsService.changelogs">
  <span class="text-lg">{{log.version}} : {{log.date | date:"dd/MM/YYYY"}}</span><br />
  <span class="text-md font-medium">Bugs Fixed:</span>
  <ol>
      <li class="text-xs" *ngFor="let bug of log.bugs">- {{bug}}</li>
  </ol>
  <span class="text-md font-medium">Nouvelles fonctionnaliés :</span>
  <ul>
      <li class="text-xs" *ngFor="let feature of log.features">- {{feature}}</li>
  </ul>
  <div class="divider"></div>
</div>
