<div class="card modal-box">
    <h1 class="card-title">Historique des versions</h1>
    <div *ngFor="let log of changelogsService.changelogs">
        <h2>Version {{log.version}} = {{log.date}}</h2>
        <h3>Bugs Fixed:</h3>
        <ul>
            <li *ngFor="let bug of log.bugs">{{bug}}</li>
        </ul>
        <h3>Nouvelles fonctionnaliés :</h3>
        <ul>
            <li *ngFor="let feature of log.features">{{feature}}</li>
        </ul>
       <div class="divider"></div>
    </div>
</div>