<div class="w-full">
  <div class="inline-flex w-full p-0 pb-1 pt-5">
    <label class="w-1/2 justify-center inline-flex space-x-5 font-bold">
      Date de départ
    </label>
    <label class="w-1/2 justify-center inline-flex space-x-5 font-bold">
      Date de fin
    </label>
  </div>
  <div class="inline-flex w-full p-5 pt-0 space-x-5">
    <label class="w-1/2 justify-center inline-flex space-x-5">
      <input type="date" class="datepicker input w-full" [(ngModel)]="dateDown" (change)="onChangeDate()"/>
    </label>
    <label class="w-1/2 justify-center inline-flex space-x-5">
      <input type="date" class="datepicker input w-full" [(ngModel)]="dateUp" (change)="onChangeDate()"/>
      <label class="btn btn-outline" (click)="onClickToday()">Aujourd'hui</label>
    </label>
  </div>
  <div class="space-y-5 p-5">
    <div class="card bg-base-100">
      <div class="card-title justify-center p-3">
        Classement par nombre d'appels
      </div>
      <div class="card-body pt-0">
        <canvas id="allCalls"></canvas>
      </div>
    </div>
    <div class="card bg-base-100">
      <div class="card-title justify-center p-3">
        Classement par nombre de rendez-vous
      </div>
      <div class="card-body pt-0">
        <canvas id="allMeetings"></canvas>
      </div>
    </div>
    <div class="card bg-base-100">
      <div class="card-title justify-center p-3">
        Classement par nombre de rappels
      </div>
      <div class="card-body pt-0">
        <canvas id="allReminders"></canvas>
      </div>
    </div>
    <div class="card bg-base-100">
      <div class="card-title justify-center p-3">
        Classement par nombre d'emails envoyés
      </div>
      <div class="card-body pt-0">
        <canvas id="allSentEmails"></canvas>
      </div>
    </div>
  </div>
</div>