<app-mails-research-bloc></app-mails-research-bloc>
<div *ngIf="sentEmailsService.researchParamsSentEmails.sent">
  <div *ngFor="let sentEmailSent of sentEmailsService.sentEmailsSent | keyvalue: asIsOrder | slice:sentEmailsService.researchParamsSentEmails.skip:sentEmailsService.researchParamsSentEmails.skip + 20">
    <app-prospect-tile *ngIf="sentEmailSent.value.prospect.stage == 8" [prospect]="sentEmailSent.value.prospect" [sentEmail]="sentEmailSent.value"></app-prospect-tile>
  </div>
</div>
<div *ngIf="!sentEmailsService.researchParamsSentEmails.sent">
  <div *ngFor="let sentEmail of sentEmailsService.sentEmails | keyvalue: asIsOrder | slice:sentEmailsService.researchParamsSentEmails.skip:sentEmailsService.researchParamsSentEmails.skip + 20">
    <app-prospect-tile *ngIf="sentEmail.value.prospect.stage == 4" [prospect]="sentEmail.value.prospect" [sentEmail]="sentEmail.value"></app-prospect-tile>
  </div>
</div>
<div class="btn-group pb-5 justify-center w-full">
  <button class="btn btn-outline btn-ghost {{sentEmailsService.researchParamsSentEmails.skip <= 0 ? 'btn-disabled' : '' }}" (click)="pageDown()">«</button>
  <button class="btn btn-outline btn-ghost">Page {{sentEmailsService.researchParamsSentEmails.skip / 20 + 1}} / {{( !sentEmailsService.researchParamsSentEmails.sent ? sentEmailsService.nbSentEmails : sentEmailsService.nbSentEmailsSent) <= 20 ? 1 : (( !sentEmailsService.researchParamsSentEmails.sent ? sentEmailsService.nbSentEmails : sentEmailsService.nbSentEmailsSent) / 20 + 1).toFixed() }}</button>
  <button class="btn btn-outline btn-ghost {{sentEmailsService.researchParamsSentEmails.sent ? sentEmailsService.researchParamsSentEmails.skip + 20 < sentEmailsService.nbSentEmailsSent  ? '' : 'btn-disabled' :  sentEmailsService.researchParamsSentEmails.skip + 20 < sentEmailsService.nbSentEmails ? '' : 'btn-disabled'}}" (click)="pageUp()">»</button>
</div>