<div class="w-full h-screen   justify-center inline-flex">
    <video src="../../../../assets/logo_couleur_animated.mp4" class="w-32 h-32 mt-52" [autoplay]="true" [loop]="true" [muted]="true" type="video/mp4"></video>
    <!-- <div class="radial-progress h-full align-middle w-full animate-pulse {{googleService.logged ? 'text-success' : 'text-error'}}" style=" --size:12rem; --thickness: 2rem;" max="100"></div>
    <div class="radial-progress h-full align-middle w-full animate-pulse {{googleService.logged ? 'text-success' : 'text-error'}}" style=" --size:12rem; --thickness: 2rem;" max="100"></div>
    <div class="radial-progress h-full align-middle w-full animate-pulse {{googleService.logged ? 'text-success' : 'text-error'}}" style=" --size:12rem; --thickness: 2rem;" max="100"></div> -->
</div>