<div class="w-full p-10 inline-flex space-x-2 h-screen align-middle">
    <div class="radial-progress h-full align-middle w-full animate-pulse {{googleService.logged ? 'text-success' : 'text-error'}}" style=" --size:12rem; --thickness: 2rem;" max="100"></div>
    <div class="radial-progress h-full align-middle w-full animate-pulse {{googleService.logged ? 'text-success' : 'text-error'}}" style=" --size:12rem; --thickness: 2rem;" max="100"></div>
    <div class="radial-progress h-full align-middle w-full animate-pulse {{googleService.logged ? 'text-success' : 'text-error'}}" style=" --size:12rem; --thickness: 2rem;" max="100"></div>
</div>