<div class="navbar">
  <div class="tabs" >
  <a routerLink="/dashboard" class="tab tab-lg tab-lifted" >Prospectix</a>
  <a routerLink="/prospects" class="tab tab-lg tab-lifted">Recherche de prospects</a>
  <a routerLink="/reminders" class="tab tab-lg tab-lifted">Recherche rappels</a>
  <a routerLink="/meetings" class="tab tab-lg tab-lifted">Recherche de rendez-vous</a>
  <a routerLink="/users" class="tab tab-lg tab-lifted">des utilisateurs (Admin)</a> 
  <a routerLink="/goals" class="tab tab-lg tab-lifted">Gestion des objectifs (Admin)</a>
  </div>
</div> 