<div style="border: 1px solid black;">
  <div><p><b>1. {{prospect.companyName}}</b> | {{prospect.activity.name}} | {{prospect.streetAddress}}, {{prospect.city.zipcode}}, {{prospect.city.name}}, {{prospect.country.name}}</p></div>
  <div><p>{{prospect.phone.number}} <button style="color: red;">X</button><button style="color: green;">+</button></p></div>
  <div><p>{{prospect.email.email}} <button style="color: red;">X</button><button style="color: green;">+</button></p></div>
  {{prospect.website.website}}
  <div>
    {{prospect.comment}}
  </div>
  <button>Pas de réponse</button><button>Rappel</button><button>Rendez-vous</button>
</div>
    