<div class="p-5 card" [attr.data-theme]="dataThemeService.dataTheme">
  <div class="card-body">
    <div class="justify-center card-title">Modifier mes informations personnelles</div>
    <div class="justify-center p-5 input-group">
      <span>Téléphone</span>
      <input type="text" class="input input-bordered" maxlength="14" [(ngModel)]="phone" placeholder="Format: 06 54 43 34 23">
    </div>
    <div class="flex justify-center">
      <label class="btn btn-outline w-1/2 {{this.phone ? '' : 'btn-disabled'}}" (click)="onEditInfos()">Modifier mes informations</label>
    </div>
  </div>
</div>