<div class="modal-box">
    <label for="add-goal-modal" class="btn btn-sm btn-circle btn-ghost btn-outline absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold">Créer un objectif</h3>
    <div class="divider"></div>
    <form [formGroup]="createGoalForm" class="space-y-5">
      <label class="input-group">
        <span>Titre</span>
        <input class="input input-bordered" type="text" placeholder="Ex: Appels" formControlName="title" />
      </label>
      <label class="input-group">
        <span>Chef de projet (pseudo (a faire liste))</span>
        <input class="input input-bordered" type="text" placeholder="Ex: bgonzva" formControlName="pmPseudo" />
      </label>
      <label class="input-group">
        <span>Description</span>
        <input class="input input-bordered" type="text" placeholder="Ex: Nombre d'appels par semaine" formControlName="description" />
      </label>
      <label class="input-group">
        <span>Deadline</span>
        <input class="input input-bordered" type="date" formControlName="deadline" />
      </label>
      <label class="input-group">
        <span>Redondant ?</span>
        <input class="checkbox" type="checkbox" formControlName="isCyclic" />
      </label>
      <label class="input-group">
        <span>Nombre d'itérations</span>
        <input class="input input-bordered" type="number" placeholder="Ex: 0" formControlName="totalSteps" />
      </label>
      <div class="modal-action">
        <label for="add-goal-modal" class="btn btn-outline btn-ghost right-2" (click)="createGoal()">Créer l'objectif</label>
      </div>  
    </form>
  </div>