<div class="modal-box overflow-hidden">
    <label for="add-goal-modal" class="btn btn-sm btn-circle btn-ghost btn-outline absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold">Créer un objectif</h3>
    <div class="divider"></div>
    <form [formGroup]="createGoalForm" class="space-y-5">
      <label class="input-group">
        <span>Titre</span>
        <input class="input input-bordered" type="text" placeholder="Ex: Appels" formControlName="title" />
      </label>
        <!-- <div class="dropdown dropdown-bottom" *ngIf="!choosingPm">
            <label tabindex="0" class="btn btn-outline btn-ghost">Choisir un chef de projet</label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box scroll-auto overflow-scroll">
                <div *ngFor="let pm of projectManagers">    
                    <li (click)="selectPm(pm)" (click)="choosingPm = true"><a>{{pm.pseudo}}</a></li>
                </div>
            </ul>
          </div>
        <div class="dropdown">
            <label *ngIf="choosingPm" tabindex="0" class="btn btn-outline btn-ghost" (click)="choosingPm = false">{{pmSelected.pseudo}}</label>
        </div> -->
      <div class="form-control">
      
          <select class="select select-bordered">
            <option disabled selected>Choisir un chef de projet</option>
            <div *ngFor="let pm of projectManagers">
              <option>{{pm.pseudo}}d</option>
            </div>
            
          </select>
        
      </div>
      <label class="input-group">
        <span>Description</span>
        <input class="input input-bordered" type="text" placeholder="Ex: Nombre d'appels par semaine" formControlName="description" />
      </label>
      <label class="input-group">
        <span>Deadline</span>
        <input class="input input-bordered" type="date" formControlName="deadline" />
      </label>
      <label class="input-group">
        <span>Redondant ?</span>
        <input class="checkbox" type="checkbox" formControlName="isCyclic" />
      </label>
      <label class="input-group">
        <span>Nombre d'itérations</span>
        <input class="input input-bordered" type="number" placeholder="Ex: 0" formControlName="totalSteps" />
      </label>
      <div class="modal-action">
        <label for="add-goal-modal" class="btn btn-outline btn-ghost right-2" (click)="createGoal()">Créer l'objectif</label>
      </div>  
    </form>
  </div>
