<div [attr.data-theme]="dataThemeService.dataTheme" class="{{authService.currentUserSubject.getValue() ? dataThemeService.dataTheme == 'jisep' ? 'bg-base-300' : 'bg-base-300' : 'bg-gradient-to-br from-primary to-secondary'}}">
  <app-header *ngIf="router.url != '/login'" class="fixed top-0 w-full z-50"></app-header>
  <div class="container mx-auto min-h-screen flex flex-col {{authService.currentUserSubject.getValue() ? dataThemeService.dataTheme == 'jisep' ? 'bg-base-300': 'bg-base-300' : ''}}">
    <app-header *ngIf="router.url != '/login'" class="invisible"></app-header>
    <div class="">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<div class="toast toast-end text-sm"
  *ngIf="changelogsService.changelogs[0].version != changelogsService.localVersion && authService.currentUserSubject.getValue()">
  <div class="alert alert-info alert-sm ">Une nouvelle version est disponible <span class="btn btn-outline btn-sm"
      (click)="changelogsService.updateVersion()">
      Rafraichir<svg xmlns="http://www.w3.org/2000/svg" class="w-3.5" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
        <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
      </svg>
    </span>
  </div>
</div>