<div [attr.data-theme]="dataThemeService.dataTheme" class="{{authService.currentUserSubject.getValue() ? dataThemeService.dataTheme == 'jisep' ? 'bg-base-300' : 'bg-base-300' : router.url == '/login' && dataThemeService.dataTheme == 'jisep' ? 'bg-gradient-to-tr from-accent to-secondary' : 'bg-gradient-to-br from-primary to-secondary'}}">
  <!-- <div [attr.data-theme]="'halloween'" class="{{authService.currentUserSubject.getValue() ? dataThemeService.dataTheme == 'jisep' ? 'bg-base-300' : 'bg-base-300' : router.url == '/login' && dataThemeService.dataTheme == 'jisep' ? 'bg-gradient-to-tr from-accent to-secondary' : 'bg-gradient-to-br from-primary to-secondary'}}"> -->
  <app-header *ngIf="router.url != '/login'" class="fixed top-0 w-full z-50"></app-header>
  <div class="container mx-auto min-h-screen flex flex-col {{authService.currentUserSubject.getValue() ? dataThemeService.dataTheme == 'jisep' ? 'bg-base-300': 'bg-base-300' : ''}}">
  <app-header *ngIf="router.url != '/login'" class="invisible"></app-header>
  <div class="">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>
<div class="toast toast-end text-sm" >
  <div class="{{toast.value.type}} alert" *ngFor="let toast of toastsService.toasts | keyvalue">
    <svg *ngIf="toast.value.type == 'alert-info'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    <svg *ngIf="toast.value.type == 'alert-success'" xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <svg *ngIf="toast.value.type == 'alert-warning'" xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
    <svg *ngIf="toast.value.type == 'alert-error'" xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{toast.value.message}}</span>
  </div>
</div>
<div [attr.data-theme]="dataThemeService.dataTheme">
  <!-- <div [attr.data-theme]="'halloween'"> -->
  <div class="toast toast-end text-sm" 
  *ngIf="changelogsService.changelogs[0].version != changelogsService.localVersion && authService.currentUserSubject.getValue()">
  <div class="alert alert-info alert-sm">Une nouvelle version est disponible 
    <span class="btn btn-outline btn-primary btn-sm" (click)="changelogsService.updateVersion()">
      Rafraichir
      <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 stroke-current" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
        <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
      </svg>
    </span>
  </div>
</div>
</div>
