<label for="modal-prospect-edit" class="btn btn-sm btn-circle btn-ghost btn-outline absolute right-2 top-2">✕</label>

<h1 class="text-xl mb-5">{{prospect.companyName}}</h1>

<div class="divider"></div>
<div class="space-y-5">
	<div class="inline-flex space-x-5">

		<!-- CompanyName -->
		<div class="input-group">
			<span class="text-sm">Nom</span>
			<input class="input input-bordered" placeholder="Nom du prospect" type="text" [(ngModel)]="companyName">
		</div>
	
		<!-- streetAddress -->
		<div class="input-group">
			<span class="text-sm">Adresse</span>
			<input class="input input-bordered" placeholder="Adresse" type="text" [(ngModel)]="streetAddress">
		</div>
		<!-- Select city -->
	</div>
	
	<div class="inline-flex">
		<!-- Ville -->
	<div class="input-group">
		<span class="text-sm">Ville</span>
		<select id="city" class="select select-bordered" [(ngModel)]="city">
			<option *ngFor="let city of citiesService.cities" >{{city.name}} : {{city.zipcode}}</option>
		</select>
	</div>
	
	<div class="input-group">
		<span class="text-sm">Domaine d'activité</span>
		<select id="activity" class="select select-bordered" [(ngModel)]="activity">
			<option *ngFor="let activity of activitiesService.activities" >{{activity.name}}</option>
		</select>
	</div>
	</div>
	
	<div class="divider"></div>
	
	<!-- Boutons informations phone / mail / website -->
	<div class="inline-flex space-x-5 w-full">
		<!-- Phone -->
		<div class="input-group">
			<span class="text-sm">Téléphone</span>
			<input type="text" placeholder="Téléphone" class="input input-bordered w-full" [(ngModel)]="phone">
		</div>
	
		<!-- Mail -->
		<div class="input-group">
			<span class="text-sm">Email</span>
			<input class="input input-bordered w-full" placeholder="Email" type="email" [(ngModel)]="email">
		</div>
	
		<!-- Website -->
		<div class="input-group">
			<span class="text-sm">Site internet</span>
			<input class="input input-bordered w-full" placeholder="Site internet" type="text" [(ngModel)]="website">
		</div>
	
	</div>
	
	<div class="divider">
	
		<label class="btn btn-outline btn-sm btn-ghost">Modifier le prospect</label>
</div>