<form>
    <input type="text" placeholder="Rechercher un nom, tel, mail, site, adresse, commentaire" /><br />
    <label for="activity">Domaine d'acitivité : </label><select id="activity" name="activity">
        <option value="autoecole" selected >Auto-ecole</option>
        <option value="restaurant" >Restaurant</option>
    </select><br />
    <label for="city">Ville : </label><select id="city" name="city">
        <option value="paris" selected >Paris</option>
        <option value="marseille" >Marseille</option>
    </select><br />
    <label for="saveSearch" >Sauvegarder la recherche </label><input type="checkbox" id="saveSearch" /><br />
    <input type="submit" value="Rechercher" />
</form>