<div class="w-full h-full">
  <div class="w-full inline-flex pt-5 space-x-2 ">
    <div class="bg-base-100 p-5 w-1/5 h-[85vh] overflow-y-scroll">
      <ul class="menu rounded-xl">
        <li class="menu-title"><span>Création</span></li>
        <li class="hover-bordered bg-base-300 {{currentTemplate == 'creation' && 'bordered'}}" (click)="changeTemplate('creation')">
          <b>Créer un mail template</b>
        </li>
        <li class="menu-title"><span>Mes templates</span></li>
        <li
          class="bg-base-300 {{currentTemplate != 'creation' && currentTemplate.id == mailTemplate.key ? 'bordered' : ''}}"
          *ngFor="let mailTemplate of mailTemplatesService.myTemplates | keyvalue"
          (click)="changeTemplate(mailTemplate.value)"><a>{{mailTemplate.value.name}}</a></li>
          <ng-container  *ngIf="authService.currentUserSubject.getValue().admin">
            <li class="menu-title"><span>Tous les templates</span></li>
            <li
              class="bg-base-300 indicator w-full {{currentTemplate != 'creation' && currentTemplate.id == mailTemplate.key ? 'bordered' : ''}}"
              *ngFor="let mailTemplate of mailTemplatesService.allTemplates | keyvalue"
              (click)="changeTemplate(mailTemplate.value)"><div class="inline-flex"><label class="badge badge-secondary badge-sm pb-1">{{mailTemplate.value.pm.pseudo}}</label><a>{{mailTemplate.value.name}}</a></div></li>
          </ng-container>
        
      </ul>
    </div>
    <div class="w-4/5 bg-base-100 card {{currentTemplate != 'creation' && 'h-[85vh]'}}">
      <div class="inline-flex w-full p-5 bg-primary bg-opacity-10" *ngIf="currentTemplate != 'creation'">
        <label for="delete-mail-template-modal-{{currentTemplate.id}}" *ngIf="mailTemplatesService.myTemplates.has(currentTemplate.id)" class="modal-button btn btn-outline flex float-left btn-sm btn-error" (click)="editMode ? editMode = !editMode : ''">
          <span *ngIf="editMode" class="text-current">Annuler</span>
          <svg *ngIf="!editMode" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
          
        </label>
        <div class="card-title justify-center flex w-full"><span class="justify-center mb-5">{{editMode ? 'Modifier' : 'Aperçu'}} : {{currentTemplate.name}}</span></div>
      <label class="btn btn-outline flex float-right btn-sm btn-primary" *ngIf="mailTemplatesService.myTemplates.has(currentTemplate.id)" (click)="editMode && updateMailTemplate();editMode = !editMode; htmlContent = currentTemplate.content" >
        <svg *ngIf="!editMode" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
        </svg>
        <span *ngIf="editMode">Confirmer les modifications</span>
      </label>
      </div>
      <div class="card-body overflow-y-scroll">
        <!-- ? creation MODE -->
        <div *ngIf="currentTemplate == 'creation'" class="h-full">
          <label class="input-group justify-center p-5">
            <span class="justify-center">Créer le template</span>
            <input class="justify-center" type="text" placeholder="...nom du template" class="input input-bordered"
              [(ngModel)]="name" />
          </label>

          <angular-editor [placeholder]="editorConfig.placeholder ?? ''" [(ngModel)]="htmlContent"
            [config]="editorConfig"></angular-editor>
          <div class="flex justify-center">
            <label class="btn btn-outline m-5 {{name == '' && 'btn-disabled'}}" (click)="onCreateTemplate()">Créer le
              template</label>
          </div>


        </div>
        <!-- ? visualisation mode -->
        <div *ngIf="currentTemplate != 'creation'">
          
          <app-display-mail-template *ngIf="!editMode" [mail_content]="currentTemplate.content"></app-display-mail-template>
          <angular-editor *ngIf="editMode" [placeholder]="editorConfig.placeholder ?? ''" [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- modal button delete mail template -->
<input type="checkbox" id="delete-mail-template-modal-{{currentTemplate != 'creation' && currentTemplate.id}}" class="modal-toggle">
<label for="delete-mail-template-modal-{{currentTemplate != 'creation' && currentTemplate.id}}" class="modal cursor-pointer">
  <label class="modal-box relative max-w-screen-md text-sm" for="">
    <app-confirm-delete-mail-template *ngIf="currentTemplate != 'creation'" [mailTemplate]="currentTemplate"></app-confirm-delete-mail-template>
  </label>
</label>