<div class="card">
  <div class="card-title justify-center"><span class="justify-center">Rendez-vous effectué avec {{prospect.companyName}} (sans passer en PRO) ?</span>
  </div>
  <div class="card-body ">
    <div class="inline-flex space-x-5">
      <label class="btn btn-outline btn-ghost w-1/2" for="mark-meeting-done-and-out-{{prospect.id}}">Annuler</label>
      <label class="btn btn-outline btn-ghost w-1/2 btn-success" for="mark-meeting-done-and-out-{{prospect.id}}" (click)="onClickMeetingDoneAndOut()">Rendez-vous effectué</label>
    </div>
  </div>
</div>