<div class="card">
  <div class="card-body ">
  <div class="justify-center p-5 pt-0 card-title">
    <span class="justify-center">Envoyer le mail à {{prospect.companyName}} ?</span>
  </div>
  
  <div class="space-y-5">
    <div class="input-group ">
      <span class="w-1/3">Destinataire</span>
      <input type="email" class="input input-bordered" [(ngModel)]="email" placeholder="client@email.com" (input)="emailGotChanged = true; checkFormatEmail()"/>
    </div>

    <div class="w-full tooltip" data-tip='Le sujet du mail contient par défaut la mention "[Junior ISEP]"'>
      <div class="input-group">
        <span class="w-1/3">Sujet du mail</span>
        <input type="text" class="input input-bordered" placeholder="Retour sur notre appel" [(ngModel)]="object" />
      </div>
    </div>

    <div class="w-full tooltip" data-tip='Ne pas inscrire la mention "Bonjour". Si vous ne connaissez pas le nom du client, laissez le champ vide'>
      <div class="input-group ">
        <span class="w-1/3">Bonjour ...</span>
        <input type="text" class="input input-bordered" placeholder="M. Leblanc" [(ngModel)]="clientName" />
      </div>
    </div>

    <div class="w-full input-group">
      <span class="w-1/3">Template</span>
      <select class="select select-bordered w-fit" [(ngModel)]="chosenTemplate">
        <option selected [ngValue]="undefined">Choisir un template</option>
        <option *ngFor="let mailTemplate of mailTemplatesService.myTemplates | keyvalue" [ngValue]="mailTemplate.value" >{{mailTemplate.value.name}}</option>
      </select>
    </div>

    <div class="input-group">
      <span>Inclure la plaquette de Junior ISEP</span>
      <input type="checkbox" class="checkbox" [checked]="withPlaquetteJisep" [(ngModel)]="withPlaquetteJisep">
    </div>
    
    <div class="input-group">
      <span>Inclure la plaquette de Skisep Consulting</span>
      <input type="checkbox" class="checkbox" [checked]="withPlaquetteSkisep" [(ngModel)]="withPlaquetteSkisep">
    </div>
  </div>

  
    <div class="inline-flex p-5 space-x-5">
      <label class="w-1/3 btn btn-outline btn-ghost btn-error" for="mark-sentEmail-sent-{{prospect.id}}">Annuler</label>
      <label class="btn btn-outline btn-ghost w-1/3 btn-success {{(!chosenTemplate || object == '' || !correctEmail)  && 'btn-disabled'}}" for="mark-sentEmail-sent-{{prospect.id}}"
        (click)="onClickMarkSentEmailSent()">Envoyer le mail</label>
      <label class="btn btn-outline btn-ghost w-1/3 btn-warning {{object == '' ? 'btn-disabled' : ''}}" (click)="onClickSendMailSeparately()">Mail envoyé séparément</label>
    </div>
    <label class="flex justify-center text-sm label font-extralight text-error" *ngIf="!googleService.logged">Vous n'êtes pas connecté à Google</label>
  </div>
</div>