<div class="p-5 overflow-y-scroll card" [attr.data-theme]="dataThemeService.dataTheme">
  <div class="card-body ">
  <div class="justify-center p-5 pt-0 card-title">
    <span class="justify-center">Envoyer le mail à {{data.prospect?.companyName}} ?</span>
  </div>
  
  <div class="inline-flex space-x-5">
    <div class="justify-center w-1/2 space-y-5">
      <div class="w-full input-group">
        <span class="w-1/3">Destinataire</span>
        <input type="email" class="w-full input input-bordered" [(ngModel)]="email" placeholder="client@email.com" (input)="emailGotChanged = true; checkFormatEmail()"/>
      </div>
  
      <div class="w-full tooltip" data-tip='Le sujet du mail contient par défaut la mention "[Junior ISEP]"'>
        <div class="w-full input-group">
          <span class="w-1/3">Sujet du mail</span>
          <input type="text" class="w-full input input-bordered" placeholder="Retour sur notre appel" [(ngModel)]="object" />
        </div>
      </div>
  
      <div class="w-full tooltip" data-tip='Ne pas inscrire la mention "Bonjour". Si vous ne connaissez pas le nom du client, laissez le champ vide'>
        <div class="w-full input-group">
          <span class="w-1/3">Bonjour ...</span>
          <input type="text" class="w-full input input-bordered" placeholder="M. Leblanc" [(ngModel)]="clientName" />
        </div>
      </div>
  
    </div>
    <div class="justify-center w-1/2 space-y-5">
      <div class="w-full input-group">
        <span class="w-1/3">Template</span>
        <select class="select select-bordered w-fit" [(ngModel)]="chosenTemplate" (change)="templateChanged()">
          <option selected [ngValue]="undefined">Choisir un template</option>
          <option *ngFor="let mailTemplate of mailTemplatesService.myTemplates | keyvalue" [ngValue]="mailTemplate.value" >{{mailTemplate.value.name}}</option>
        </select>
      </div>
  
      <div class="input-group">
        <span>Inclure la plaquette de Junior ISEP</span>
        <input type="checkbox" class="checkbox" [checked]="withPlaquetteJisep" [(ngModel)]="withPlaquetteJisep">
      </div>
      
      <div class="input-group">
        <span>Inclure la plaquette de Skema Consulting</span>
        <input type="checkbox" class="checkbox" [checked]="withPlaquetteSkema" [(ngModel)]="withPlaquetteSkema">
      </div>
    </div>
    </div>
    

  <quill-editor *ngIf="chosenTemplate" class="w-full" [(ngModel)]="contentModified">
  </quill-editor>
  
    <div class="inline-flex p-5 space-x-5">
      <label class="w-1/4 btn btn-outline btn-ghost btn-error" (click)="ngxSmartModalService.closeAll()">Annuler</label>
      <label class="btn btn-outline btn-ghost w-1/4 btn-success {{(!chosenTemplate || object == '' || !correctEmail)  && 'btn-disabled'}}" (click)="data.prospect?.stage == 4 ? onClickMarkSentEmailSent() : onClickCreateAndMarkSentEmailSent()">Envoyer le mail</label>
      <label class="btn btn-outline btn-ghost w-1/4 btn-warning {{object == '' ? 'btn-disabled' : ''}}" (click)="data.prospect?.stage == 4 ? onClickSendMailSeparately() : onClickCreateAndSendMailSeparately()">Mail envoyé séparément</label>
      <label class="w-1/4 btn btn-outline btn-ghost btn-info {{data.prospect?.stage == 4 ? 'btn-disabled': ''}}" (click)="onSendLater()">Envoyer plus tard</label>
    </div>
    <label class="flex justify-center text-sm label font-extralight text-error" *ngIf="!googleService.logged">Vous n'êtes pas connecté à Google</label>
  </div>
</div>