<app-research-bloc [class]="" ></app-research-bloc>
<app-no-result class="self-center align-baseline" *ngIf="!prospectsService.loading && prospectsService.prospects && prospectsService.prospects.length <= 0"></app-no-result>
<div *ngIf="!prospectsService.loading" class="overflow-scroll transition-all">
  <div *ngFor="let prospect of prospectsService.prospects | slice:prospectsService.researchParamsProspect.skip:prospectsService.researchParamsProspect.skip + 20" >
    <app-prospect-tile [prospect]="prospect" *ngIf="prospect.stage == 0 && !prospect.disabled"></app-prospect-tile>
  </div>
  
</div>
<div class="justify-center w-full pb-5 btn-group" *ngIf=" !prospectsService.loading">
  
  <div *ngIf="prospectsService.nbProspects != 0">
    <button class="btn btn-outline btn-ghost {{prospectsService.researchParamsProspect.skip > 0 ? '' : 'btn-disabled'}}" (click)="pageDown()">«</button>
    <button class="btn btn-outline btn-ghost">Page {{prospectsService.researchParamsProspect.skip / 20 + 1}} / {{(prospectsService.nbProspects / 20 + 1).toFixed()}}</button>
    <button class="btn btn-outline btn-ghost {{(prospectsService.researchParamsProspect.skip + 20 < prospectsService.nbProspects )? '' : 'btn-disabled'}}" (click)="pageUp()">»</button>
  </div>
</div>
<div *ngIf="prospectsService.loading" class="flex justify-center w-full transition-all">
  <div class="self-center mb-32">
    <img src="../../../../assets/logo_couleur.png" class="w-32 h-32 aspect-square animate-pulse">
</div>
  