<div class="flex flex-row items-start justify-start m-0 mb-5 space-x-10">
  <!-- ? sent -->
  <div class="form-control min-w-fit">
    <label class="label" for="sentEmailSent">
      <span class="label-text">{{sent ? 'Emails envoyés' : 'Emails à envoyer'}}</span>
    </label>
    <input class="toggle {{sent ? 'toggle-primary' : ''}}" type="checkbox" id="sentEmailSent" [(ngModel)]="sent" (change)="updateParameters()" />
  </div>

   <!-- ? Search a prospect by keyword -->
   <div class="w-1/4">
    <label class="label" for="search">
      <span class="label-text">Recherche (nom ou tel)</span>
    </label>
    <input type="search" [(ngModel)]="keyword" (input)="updateParameters()"
      placeholder="Recherche (entrée pour valider)"
      class="w-full max-w-xs transition-all input input-md input-bordered" />
  </div>
</div>