<div class="card">
  <div class="card-title justify-center"><span class="justify-center">Modifier l'heure du rappel avec {{reminder.prospect.companyName}}</span>
  </div>
  <div class="card-body ">
    <div class="input-group flex justify-center">
      <span id="time" >Rappel le {{reminder.date | frenchDatePipe}} à </span>
      <input for="time" class="input input-bordered" type="time" [(ngModel)]="time">
    </div>
    <div class="inline-flex space-x-5 pb-0 pt-5">
      <label class="btn btn-outline btn-ghost w-1/2" for="edit-time-reminder-{{reminder.id}}">Annuler</label>
      <label class="btn btn-outline btn-ghost w-1/2 btn-primary {{time == '' ? 'btn-disabled' : ''}}" for="edit-time-reminder-{{reminder.id}}" (click)="onClickReminderChangeTime()">Changer l'heure du rappel</label>
    </div>
  </div>
</div>