<div class="modal-box max-w-screen-lg h-3/4 space-y-4 overflow-hidden">
  <label for="modal-add-prospect" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
  <div class="text-lg">Ajouter un prospect dans la base</div>
  <div class="divider"></div>

  <div class="inline-flex space-x-5">

    <!-- Nom du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nom du prospect</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="companyName" placeholder="Ex: ISEP"/>
    </div>

    <!-- Adresse du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Adresse</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="address" placeholder="Ex: 22 rue notre Dame des Champs"/>
    </div>
   

</div>
<div class="inline-flex space-x-5">
   <!-- Domaine d'activité du prospect -->
   <div class="form-control">
    <label class="label" for="activity">
        <span class="label-text">Domaine d'activité</span>
    </label>
    <div class="inline-flex">

      <!-- select activity -->
      <select id="activity" name="activity"[(ngModel)]="activity" class="select select-bordered" >
        <option *ngFor="let activity of activitiesService.activities" [ngValue]="activity" [defaultSelected]="activity">{{activity.name}}</option>
      </select>

      <!-- dropdown add activity -->
      <div class="dropdown dropdown-right">
        <label class="btn btn-ghost btn-outline" tabindex="0">+</label>
        <div tabindex="0" class="dropdown-content card card-compact outline-1 bg-white outline">
          <div class="card-body">
            <div class="card-title">Ajouter un domaine d'activité</div>

            <input type="text" class="input input-ghost outline outline-1" placeholder="Domaine d'activité" [(ngModel)]="addActivity" (input)="onEditAddActivity()">
            
            <label tabindex="0" class="btn {{addActivityDisabled ? 'btn-disabled' : ''}}" (click)="onAddActivity()">Ajouter</label>
            <div class="alert alert-error shadow-lg" *ngIf="addActivityDisabled">
              <span>Attention ! Ce domaine d'activité existe déjà dans la base</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Ville du prospect -->
  <div class="form-control">
      <label class="label" for="city">
          <span class="label-text">Ville</span>
      </label>
      <div class="inline-flex">

        <!-- select city -->
        <select id="city" name="city" [(ngModel)]="city" class="select select-bordered">
          <option *ngFor="let city of citiesService.cities" [ngValue]="city" [defaultSelected]="city">{{city.name}} : {{city.zipcode}}</option>
        </select>

        <!-- dropdown add city -->
        <div class="dropdown dropdown-right">
          <label tabindex="0" class="btn btn-ghost btn-outline">+</label>
          <div tabindex="0" class="dropdown-content card card-compact outline-1 bg-white outline">
            <div class="card-body ">
              <div class="card-title">Ajouter une ville</div>
              <input type="text" class="input input-ghost outline-1 outline" placeholder="Ville" [(ngModel)]="addCity" (input)="onEditAddCity()">
              <input type="text" class="input outline outline-1" placeholder="Code postal" [(ngModel)]="addZipcode" (input)="onEditAddCity()">
              <label tabindex="0" class="btn {{addCityDisabled ? 'btn-disabled' : ''}}" (click)="onAddCity()">Ajouter</label>
              <div class="alert alert-error shadow-lg" *ngIf="addCityDisabled">
                <span>Attention ! Cette ville existe déjà dans la base</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <!-- Pays du prospect -->
  <div class="form-control">
    <label class="label" for="country">
        <span class="label-text">Pays</span>
    </label>
    <div class="inline-flex">

      <!-- select country -->
      <select id="country" name="country" [(ngModel)]="country" class="select select-bordered">
          <option *ngFor="let country of countriesService.countries" [ngValue]="country" [defaultSelected]="country">{{country.name}}</option>
      </select>

      <!-- dropdown add country -->
      <div class="dropdown dropdown-right">
        <label tabindex="0" class="btn btn-ghost btn-outline">+</label>
        <div tabindex="0" class="dropdown-content card card-compact outline-1 bg-white outline">
          <div class="card-body">
            <div class="card-title">Ajouter un Pays</div>
            <input type="text" class="input input-ghost outline-1 outline" placeholder="Pays" [(ngModel)]="addCountry" (input)="onEditAddCountry()">
            <label tabindex="0" class="btn {{addCountryDisabled ? 'btn-disabled' : ''}}" (click)="onAddCountry()">Ajouter</label>
            <div class="alert alert-error shadow-lg" *ngIf="addCountryDisabled">
              <span>Attention ! Ce pays existe déjà dans la base</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="inline-flex space-x-5">
    <!-- Téléphone du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Téléphone</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="phone" placeholder="Ex: 09 87 65 43 32" />
    </div>

    <!-- Email du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="email" placeholder="Ex: accueil@juniorisep.com"/>
    </div>

    <!-- Site internet du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Site internet</span>
      </label>
      <input type="text" class="input input-bordered" [(ngModel)]="website" placeholder="Ex: www.juniorisep.com"/>
    </div>
  </div>

   <!-- Commentaire sur le prospect -->
   <div class="form-control">
    <label class="label">
      <span class="label-text">Commentaire</span>
    </label>
    <textarea class="textarea outline-1 outline h-1/3" placeholder="Commentaire sur le prospect" [(ngModel)]="comment"></textarea>
  </div>


  <div class="divider"></div>

  <!-- Bouton créer le prospect -->
  <div class="flex justify-center">
    <label class="btn btn-ghost btn-outline w-1/5" (click)="onCreateProspect()">Créer le prospect</label>
  </div>
</div>