<div class="modal-box max-w-screen-lg">
  <label for="modal-add-prospect" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
  <div class="text-lg">Ajouter un prospect dans la base</div>
  <div class="divider"></div>
  <div class="inline-flex space-x-5">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nom du prospect</span>
      </label>
        <input type="text" class="input input-bordered" />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Adresse</span>
      </label>
     
      
        <input type="text" class="input input-bordered" />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Ville</span>
      </label>
      
        <input type="text" class="input input-bordered" />
      
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Domaine d'activité</span>
      </label>
      
        <input type="text" class="input input-bordered" />
      
    </div>
  </div>
  
  <div class="form-control">
    <label class="label">
      <span class="label-text">Pays</span>
    </label>
    
      <input type="text" class="input input-bordered" />
    
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Téléphone</span>
    </label>
    
      <input type="text" class="input input-bordered" />
    
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    
      <input type="text" class="input input-bordered" />
    
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Site internet</span>
    </label>
    
      <input type="text" class="input input-bordered" />
    
  </div>
</div>