<div class="modal-box max-w-screen-2xl h-full">
  <label for="modal-add-prospect" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
  <div class="text-lg">Ajouter un prospect dans la base</div>
  <div class="divider"></div>

  <div class="inline-flex space-x-5">

    <!-- Nom du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nom du prospect</span>
      </label>
      <input type="text" class="input input-bordered" [formControl]="formCompanyName" placeholder="Ex: ISEP"/>
    </div>

    <!-- Adresse du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Adresse</span>
      </label>
      <input type="text" class="input input-bordered" [formControl]="formAddress" placeholder="Ex: 22 rue notre Dame des Champs"/>
    </div>

    <!-- Domaine d'activité du prospect -->
    <div class="form-control">
      <label class="label" for="activity">
          <span class="label-text">Domaine d'activité</span>
      </label>
      <div class="inline-flex">

        <!-- select activity -->
        <select id="activity" name="activity"[formControl]="formActivity" class="select select-bordered" >
          <option *ngFor="let activity of activities" [ngValue]="activity" [defaultSelected]="activity">{{activity.name}}</option>
        </select>

        <!-- dropdown add activity -->
        <div class="dropdown">
          <label class="btn btn-ghost btn-outline" tabindex="0">+</label>
          <div tabindex="0" class="dropdown-content card outline-1 bg-white outline">
            <div class="card-body">
              <div class="card-title">Ajouter un domaine d'activité</div>
              <input type="text" class="input input-ghost outline outline-1" placeholder="Domaine d'activité" [formControl]="formAddActivity" (input)="onEditAddActivity()">
              <label tabindex="0" class="btn {{addActivityDisabled ? 'btn-disabled' : ''}}" (click)="onAddActivity()">Ajouter</label>
              <div class="alert alert-error shadow-lg" *ngIf="addActivityDisabled">
                <span>Attention ! Ce domaine d'activité existe déjà dans la base</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  
  <!-- Ville du prospect -->
  <div class="form-control">
      <label class="label" for="city">
          <span class="label-text">Ville</span>
      </label>
      <div class="inline-flex">

        <!-- select city -->
        <select id="city" name="city" [formControl]="formCity" class="select select-bordered">
          <option *ngFor="let city of cities" [ngValue]="city" [defaultSelected]="city">{{city.name}}</option>
        </select>

        <!-- dropdown add city -->
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-outline">+</label>
          <div tabindex="0" class="dropdown-content card outline-1 bg-white outline">
            <div class="card-body ">
              <div class="card-title">Ajouter une ville</div>
              <input type="text" class="input input-ghost outline-1 outline" placeholder="Ville" [formControl]="formAddCity" (input)="onEditAddCity()">
              <input type="text" class="input outline outline-1" placeholder="Code postal" [formControl]="formAddZipcode" (input)="onEditAddCity()">
              <label tabindex="0" class="btn {{addCityDisabled ? 'btn-disabled' : ''}}" (click)="onAddCity()">Ajouter</label>
              <div class="alert alert-error shadow-lg" *ngIf="addCityDisabled">
                <span>Attention ! Cette ville existe déjà dans la base</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  
  <!-- Pays du prospect -->
  <div class="form-control">
    <label class="label" for="country">
        <span class="label-text">Pays</span>
    </label>
    <div class="inline-flex">

      <!-- select country -->
      <select id="country" name="country" [formControl]="formCountry" class="select select-bordered">
          <option *ngFor="let country of countries" [ngValue]="country" [defaultSelected]="country">{{country.name}}</option>
      </select>

      <!-- dropdown add country -->
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-outline">+</label>
        <div tabindex="0" class="dropdown-content card outline-1 bg-white outline">
          <div class="card-body">
            <div class="card-title">Ajouter un Pays</div>
            <input type="text" class="input input-ghost outline-1 outline" placeholder="Pays" [formControl]="formAddCountry" (input)="onEditAddCountry()">
            <label tabindex="0" class="btn {{addCountryDisabled ? 'btn-disabled' : ''}}" (click)="onAddCountry()">Ajouter</label>
            <div class="alert alert-error shadow-lg" *ngIf="addCountryDisabled">
              <span>Attention ! Ce pays existe déjà dans la base</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


  <div class="inline-flex space-x-5">
    <!-- Téléphone du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Téléphone</span>
      </label>
      <input type="text" class="input input-bordered" [formControl]="formPhone" placeholder="Ex: 09 87 65 43 32" />
    </div>

    <!-- Email du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="text" class="input input-bordered" [formControl]="formEmail" placeholder="Ex: accueil@juniorisep.com"/>
    </div>

    <!-- Site internet du prospect -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Site internet</span>
      </label>
      <input type="text" class="input input-bordered" [formControl]="formWebsite" placeholder="Ex: www.juniorisep.com"/>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Commentaire</span>
      </label>
      <textarea class="textarea outline-1 outline" placeholder="Commentaire sur le prospect" [formControl]="formComment"></textarea>
    </div>
  </div>

  <div class="divider"></div>

  <!-- Bouton créer le prospect -->
  <label class="btn btn-ghost btn-outline flex" (click)="onCreateProspect()">Créer le prospect</label>
</div>