<ul class="steps steps-vertical">
  <li 
  
  [attr.data-content]="
  ((event.type == 'ADD_BOOKMARKS' || event.type == 'DELETE_BOOKMARKS') && '★') || 
  (event.type == 'CREATION' && '☼') || 
  ((event.type == 'ADD_REMINDER' || event.type == 'ADD_BOOKMARKS' || event.type == 'ADD_MEETING') && '+') || 
  ((event.type == 'DONE_REMINDER' || event.type == 'DONE_MEETING') && '✓') || 
  (event.type == 'NO_ANSWER' && '...') ||
  (event.type == 'NEGATIVE_ANSWER' && '🗑') "
  class="
    step
    {{event.type == 'CREATION' ? 'step-success' : ''}}
    {{event.type == 'ADD_REMINDER' ? 'step-info' : ''}}
    {{event.type == 'ADD_MEETING' ? 'step-info' : ''}}
    {{event.type == 'ADD_BOOKMARKS' ? 'step-warning' : ''}}
    {{event.type == 'DONE_REMINDER' ? 'step-success' : ''}}
    {{event.type == 'DONE_MEETING' ? 'step-success' : ''}}
    {{event.type == 'DELETE_REMINDER' ? 'step-info' : ''}}
    {{event.type == 'DELETE_MEETING' ? 'step-error' : ''}}
    {{event.type == 'DELETE_BOOKMARKS' ? 'step-warning' : ''}}
    {{event.type == 'NEGATIVE_ANSWER' ? 'step-error' : ''}}
    {{event.type == 'NO_ANSWER' ? 'step-error' : ''}}
    "
    *ngFor="let event of events; let index = index">{{event.date | date:"dd MMMM" }} - {{event.description}}</li>
</ul>