<div class="p-5 card" [attr.data-theme]="dataThemeService.dataTheme">
  <div class="flex justify-center card-body">
    <label class="card-title">Modifier un utilisateur</label>
    <div class="divider"></div>
    <div class="space-y-5">

      <!-- Firstname -->
      <label class="input-group">
        <span>Prénom</span>
        <input class="input input-bordered" type="text" placeholder="Ex: Benjamin" [(ngModel)]="firstname" />
      </label>

      <!-- Lastname -->
      <label class="input-group">
        <span>Nom</span>
        <input class="input input-bordered" type="text" placeholder="Ex: Gonzva" [(ngModel)]="lastname" />
      </label>

      <!-- Pseudo -->
      <label class="input-group">
        <span>Pseudo</span>
        <input class="input input-bordered" type="text" placeholder="bgonzva" [(ngModel)]="pseudo" />
      </label>

      <!-- Email -->
      <label class="input-group">
        <span>Email</span>
        <input class="input input-bordered" type="email" placeholder="bgonzva@juniorisep.com" [(ngModel)]="email" (input)="onCheckEmail()"/>
      </label>

      <!-- Tel -->
      <label class="input-group">
        <span>Téléphone portable</span>
        <input class="input input-bordered" type="text" placeholder="Ex: 06 54 34 23 32" [(ngModel)]="phone"
          maxlength="14" />
      </label>

      <!-- Photo de profil -->
      <label class="input-group">
        <span>Lien de la photo de profil</span>
        <input class="input input-bordered" type="url" placeholder="https://maphotodeprofil.com" [(ngModel)]="profilePictureLink"/>
      </label>

      <!-- Button -->
      <div>
        <label (click)="onEditUser()" class="btn btn-outline btn-ghost {{emailCorrect ? '' : 'btn-disabled'}}">Modifier
          l'utilisateur</label>
      </div>
    </div>
  </div>
</div>