<app-header></app-header>
<h1 class="ml-6 text-xl mb-5">Rappels</h1>
<app-reminders-research-bloc [orderByPriority]="orderByPriority" [priority]="priority" [date]="date"
  [remindersDone]="remindersDone" [futureReminders]="futureReminders" [previousReminders]="previousReminders"
  [date]="date" [reminders]="reminders" [remindersDateDown]="remindersDateDown" [remindersDateUp]="remindersDateUp"
  (updateOrderByPriorityEvent)="updateOrderByPriority($event)" (updatePriorityEvent)="updatePriority($event)"
  (updateDateEvent)="updateDate($event)" (updateRemindersDoneEvent)="updateRemindersDone($event)"
  (updateFutureRemindersEvent)="updateFutureReminders($event)"
  (updatePreviousRemindersEvent)="updatePreviousReminders($event)" (updateRemindersEvent)="updateReminders($event)"
  (updateRemindersDateDownEvent)="updateRemindersDateDown($event)"
  (updateRemindersDateUpEvent)="updateRemindersDateUp($event)"></app-reminders-research-bloc>
<app-reminders-liste-prospect [reminders]="reminders" [priority]="priority"
  [remindersDone]="remindersDone" [futureReminders]="futureReminders" [previousReminders]="previousReminders"
  [date]="date" [remindersDateDown]="remindersDateDown" [remindersDateUp]="remindersDateUp">
</app-reminders-liste-prospect>