<div class="card card-compact">
  <label for="add-city-modal" class="absolute btn btn-sm btn-circle right-2 top-2">✕</label>
  <div class="card-body">
    <div class="justify-center card-title">Ajouter une ville</div>
  </div>

  <!-- Nom de la ville -->
  <div class="form-control">
    <label class="label">
      <span class="label-text">Ville</span>
    </label>
    <input type="text" class="input input-bordered" [(ngModel)]="name" placeholder="Ex: Paris" (input)="onCheckDisabled()"/>
  </div>

  <!-- Code postal de la ville -->
  <div class="form-control">
    <label class="label">
      <span class="label-text">Code postal</span>
    </label>
    <input type="number" class="input input-bordered" [(ngModel)]="zipcode" placeholder="Ex: 75014" (input)="onCheckDisabled()"/>
  </div>

  <div class="flex justify-center w-full">
    <label class="btn btn-outline m-5 w-1/2 {{disabled ? 'btn-disabled' : ''}}" for="add-city-modal" (click)="onAddCity()">Ajouter la ville</label>
  </div>
</div>