name: Deploy prospectix front to vps

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env: 
  REGISTRY: ghrc.io
  IMAGE_NAME: ${{ github.repository }}


permissions:
  contents: read
  packages: write

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Installing yarn
      uses: actions/setup-node@v3
      with:
        cache: 'yarn'
    - run: yarn install --immutable --silent
    - run: yarn run build --configuration bgonzva

    - uses: actions/upload-artifact@v2
      with:
          name: prospectix-front-dist
          path: dist/
  
  docker:

    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v2
        with:
          name: prospectix-front-dist
      - run: docker build . --file Dockerfile --tag ${{secrets.DOCKER_IMAGE}}:master
      - run: docker login -u ${{secrets.DOCKER_LOGIN}} -p ${{secrets.DOCKER_TOKEN}}
      - run: docker push ${{secrets.DOCKER_IMAGE}}:master

  deploy:

    runs-on: ubuntu-latest

    needs: docker

    steps:
      - uses: actions/checkout@v3
      - name: Deploy compose on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{secrets.VPS}}
          username: ${{secrets.VPS_USERNAME}}
          key: ${{secrets.VPS_PRIVATE_KEY}}
          script: echo hello world
  